---
layout: default
title: "Core team alumni"
date: 2013-07-03 18:34
comments: false
sharing: true
footer: true
---
#content
  .container
    %h4 Inactive Alumni
    .row-fluid
      %hr.hor-line/
    %p GitLab core team members who are no longer active but whose work is very much appreciated.
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "/images/team/valeriy.png"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "http://ua.linkedin.com/pub/valeriy-sizov/41/284/249"}
                .linkedin.no-margin
            %li
              %a{href: "https://github.com/vsizov"}
                .github.no-margin
      .span9
        %h2.title Valeriy Sizov
        %p Valeriy was one of the initial authors of GitLab together with Dmitriy Zaporozhets.
    .row-fluid
      %hr.hor-line/
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "https://secure.gravatar.com/avatar/fbd740180d2c3b4dbe8c3a23d4e30c83?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "http://gravityonmars.com/"}
                .website.no-margin
            %li
              %a{href: "http://twitter.com/gravityonmars"}
                .twitter.no-margin
            %li
              %a{href: "https://github.com/gravityonmars"}
                .github.no-margin
      .span9
        %h2.title Ricardo Rauch
    .row-fluid
      %hr.hor-line/
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "/images/team/yves.jpeg"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "http://blog.senny.ch/"}
                .website.no-margin
            %li
              %a{href: "https://twitter.com/fistofsenn"}
                .twitter.no-margin
            %li
              %a{href: "https://github.com/senny"}
                .github.no-margin
      .span9
        %h2.title Yves Senn
    .row-fluid
      %hr.hor-line/
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "/images/team/ariejan.jpeg"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "http://ariejan.net/"}
                .website.no-margin
            %li
              %a{href: "https://twitter.com/ariejan"}
                .twitter.no-margin
            %li
              %a{href: "http://nl.linkedin.com/in/ariejan"}
                .linkedin.no-margin
            %li
              %a{href: "https://github.com/ariejan"}
                .github.no-margin
      .span9
        %h2.title Ariejan de Vroom
    .row-fluid
      %hr.hor-line/
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "/images/team/riyad.png"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "http://blog.bilak.info/"}
                .website.no-margin
            %li
              %a{href: "https://github.com/riyad"}
                .github.no-margin
      .span9
        %h2.title Riyad Preukschas
    .row
      %hr.hor-line/
    .row-fluid
      %hr.hor-line/
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "/images/team/saito.png"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "http://saito.im/"}
                .website.no-margin
            %li
              %a{href: "https://github.com/SaitoWu"}
                .github.no-margin
      .span9
        %h2.title Saito Wu
    .row
      %hr.hor-line/
    .row-fluid
      %hr.hor-line/
    .row-fluid.teams
      .teams.row
        .span3
          .row-fluid.padding
            %img.img-responsive{src: "/images/team/nihad.jpg"}/
          .row-fluid
            %ul.team
              %li
                %a{href: "http://narkoz.github.io/"}
                  .website.no-margin
              %li
                %a{href: "https://github.com/NARKOZ"}
                  .github.no-margin
        .span9
          %h2.title Nihad Abbasov
    .row-fluid
      %hr.hor-line/
    %h4 Alumni, now employees:
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "/images/team/dmitriy.jpg"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "http://ua.linkedin.com/in/dzaporozhets"}
                .linkedin.no-margin
            %li
              %a{href: "https://gitlab.com/u/dzaporozhets"}
                .gitlab.no-margin
      .span9
        %h2.title Dmitriy Zaporozhets
        .row-fluid
      %hr.hor-line/
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "https://secure.gravatar.com/avatar/73c8253932541a7b5cbc5d79493f2bea?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "http://tsigo.github.io/"}
                .website.no-margin
            %li
              %a{href: "https://twitter.com/rspeicher"}
                .twitter.no-margin
            %li
              %a{href: "https://github.com/tsigo"}
                .github.no-margin
      .span9
        %h2.title Robert Speicher
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "/images/team/marin.jpeg"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "http://rs.linkedin.com/pub/marin-jankovski/21/a/a64"}
                .linkedin.no-margin
            %li
              %a{href: "https://twitter.com/maxlazio"}
                .twitter.no-margin
            %li
              %a{href: "https://gitlab.com/u/marin"}
                .gitlab.no-margin
      .span9
        %h2.title Marin Jankovski
        .row-fluid.teams
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "/images/team/jacob.jpeg"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "https://www.linkedin.com/in/jacobvosmaer"}
                .linkedin.no-margin
            %li
              %a{href: "https://twitter.com/jacobvosmaer"}
                .twitter.no-margin
            %li
              %a{href: "https://gitlab.com/u/jacobvosmaer"}
                .gitlab.no-margin
      .span9
        %h2.title Jacob Vosmaer
        .row-fluid.teams
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "/images/team/sytse.jpeg"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "http://nl.linkedin.com/in/sijbrandij"}
                .linkedin.no-margin
            %li
              %a{href: "https://twitter.com/sytses"}
                .twitter.no-margin
            %li
              %a{href: "https://gitlab.com/u/sytses"}
                .gitlab.no-margin
      .span9
        %h2.title Sid Sijbrandij
        .row-fluid.teams
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "/images/team/drew.jpg"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "http://www.linkedin.com/pub/drew-blessing/21/908/b64/"}
                .linkedin.no-margin
            %li
              %a{href: "https://twitter.com/drewblessing"}
                .twitter.no-margin
            %li
              %a{href: "https://gitlab.com/u/drewb"}
                .gitlab.no-margin
      .span9
        %h2.title Drew Blessing
        .row-fluid.teams
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "/images/team/axil.jpg"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "https://twitter.com/_axil"}
                .twitter.no-margin
            %li
              %a{href: "https://gitlab.com/u/axil"}
                .gitlab.no-margin
      .span9
        %h2.title Achilleas Pipinellis
        .row-fluid.teams
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "/images/team/kamil.jpg"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "https://www.linkedin.com/in/kamiltrzcinski"}
                .linkedin.no-margin
            %li
              %a{href: "https://twitter.com/ayufanpl"}
                .twitter.no-margin
            %li
              %a{href: "https://gitlab.com/u/ayufan"}
                .gitlab.no-margin
      .span9
        %h2.title Kamil Trzciński
        .row-fluid.teams
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "/images/team/stanhu.jpg"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "https://www.linkedin.com/in/stanhu00"}
                .linkedin.no-margin
            %li
              %a{href: "https://twitter.com/stanhu"}
                .twitter.no-margin
            %li
              %a{href: "https://gitlab.com/u/stanhu"}
                .gitlab.no-margin
      .span9
        %h2.title Stan Hu
        .row-fluid.teams
    .row-fluid.teams
      .span3
        .row-fluid.padding
          %img{src: "/images/team/jeroen.jpg"}/
        .row-fluid
          %ul.team
            %li
              %a{href: "http://nl.linkedin.com/in/jvanbaarsen"}
                .linkedin.no-margin
            %li
              %a{href: "https://twitter.com/jvanbaarsen"}
                .twitter.no-margin
            %li
              %a{href: "https://gitlab.com/u/jvanbaarsen"}
                .gitlab.no-margin
      .span9
        %h2.title Jeroen van Baarsen
        .row-fluid.teams
    .row
      %hr.hor-line/
    .row-fluid
      %p
        GitLab core team members who are active can be found on the
        = succeed "." do
          %a{href: "/core-team"} core team page
