%nav#qnav.navbar.navbar-default.qnav.hidden-xs.hidden-sm.qnav2{role: "navigation"}
  .container-fluid.featurenav
    %ul.nav.nav-pills.nav-justified
      %li
        %a{:href => "#"} Benefits
      %li
        %a{:href => "#"} Features
      %li
        %a{:href => "#"} Pricing
      %li
        %a{:href => "#"} Compare
