%nav#qnav.navbar.navbar-default.qnav.hidden-xs.qnav2{role: "navigation"}
  .container-fluid.featurenav
    %ul.nav.nav-pills.nav-justified
      %li
        = link_to "Features", "#os-principles"
      %li
        = link_to "Pricing", "#pricing"
      %li
        = link_to "Compare", "#top-reasons"
