%section.hero-section
  .hero-image-wrap
    // Contains images
    %img.img-responsive.img-responsive.img-responsive.img-responsive.img-responsive{src: '/images/gitlab_ee/hero/ee-standalone-hero-2x.png'}
  .container.hero-content-wrap
    %h1.page-headline
      GitLab Enterprise Edition helps large teams innovate faster without compromising security or quality.
    %h2.page-subtitle
    .icons-wrap-better-name
      %img.img-responsive{src: '/images/gitlab_ee/hero/hero-icons.svg'}




