.page-container.landing-container.text-center
  .container.hero-content-wrap
    %h1.page-headline GitLab Enterprise Edition
    %h2.page-subtitle Innovate faster without compromising security or quality.
    = image_tag "/images/gitlab_ee/hero/hero-icons.svg", class: "hidden-xs hidden-sm img-responsive gitlab-ee-hero"
