.hero-section.landing-container
  .container.hero-content-wrap
    %h1.page-headline
      GitLab Enterprise Edition helps large teams innovate faster without compromising security or quality.
    %h2.page-subtitle
    .dev-cycle.hidden-xs.hidden-sm
      - data.development_cycle.each_with_index do |item, index|
        .step
          = icon("home/icon-step-#{index + 1}")
          .step-name-container
            .step-name
              #{item[:name]}
          - if index < data.development_cycle.length - 1
            .arrows
              %i.fa.fa-angle-double-right





