%section.productive-teams.brand-primary-background-theme
  .container
    %h2.section-title Make everyone on your team productive
    %p.section-description Regardless of location or timezone, you can ensure yourfull team can bejust as productive as if they were in the same office.
    .feature-tree
      .feature-tree-row.row
        .feature-tree-image-wrap.col-xs-7
          %img.img-responsive{src: "/images/gitlab_ee/screenshots/04-gitlab-geo.png", :alt => "Feature Tree Image"}
        .feature-tree-text-wrap.col-xs-5
          %h3.feature-tree-title GitLab Geo
          %p.feature-tree-description Reduce the time it takes your distributed team to clone and fetch large repos by creating read-only mirrors of your GitLab instance.
      .feature-tree-row.row
        .feature-tree-text-wrap.col-xs-5
          %h3.feature-tree-title External repository mirroring
          %p.feature-tree-description Keep all of your development in GitLab while still maintaining an update-to-date mirror. Sync and push changes to a remote repository.
        .feature-tree-image-wrap.col-xs-7
          %img.img-responsive{src: "/images/gitlab_ee/screenshots/05-external-repo-mirroring.png", :alt => "Feature Tree Image"}
      .feature-tree-row.row
        .feature-tree-image-wrap.col-xs-7
          %img.img-responsive{src: "/images/gitlab_ee/screenshots/06-external-users.png", :alt => "Feature Tree Image"}
        .feature-tree-text-wrap.col-xs-5
          %h3.feature-tree-title External users
          %p.feature-tree-description Invite external contributors to work on your projects and limit their access and permissions.
