%section.track-development.no-background-color-theme
  .container
    %h2.section-title Keep track of the development process
    %p.section-description System administrators and manager can quickly see who has made changes to the server and easily follow the team’s contributions.
    .feature-tree
      .feature-tree-row.row
        .feature-tree-image-wrap.col-sm-7
          %img.img-responsive{src: "/images/gitlab_ee/screenshots/10-audit-logs.png", :alt => "Audit logs preview"}
        .feature-tree-text-wrap.col-sm-5
          %h3.feature-tree-title Audit logs
          %p.feature-tree-description All changes made within the GitLab sewer are tracked and an advanced logging system stores all log files.
      .feature-tree-row.row
        .feature-tree-text-wrap.col-sm-5
          %h3.feature-tree-title Contributor analytics
          %p.feature-tree-description Get an overview of your organization’s and individual members activity of issues, merge requests and push events.
        .feature-tree-image-wrap.col-sm-7
          %img.img-responsive{src: "/images/gitlab_ee/screenshots/11-contributor-analytics.png", :alt => "Contributor analytics preview"}
