%section.flexible-solution.feature-gallery.page-container
  .container
    .titles.text-center
      %h3 Flexible solution for all teams and all stacks
      %h4 Whether your team or tools change, GitLab Enterprise Edition is customizable to support your existing tools and growing team.
    .row.features-description
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/13-jira-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 JIRA integration
          %p If your team prefers to use JIRA you can easily disable GitLab's Issue iracker and integrate JIRA. You can still reference and close JIRA issues from within GitLab.
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/14-jenkins-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 Jenkins integration
          %p GitLab Enterprise Edition integrates with Jenkins Cl. With this integration, you can trigger a build and see the build status on your merge request.
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/15-license-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 License flexibility
          %p When the team grows you can add new users now and pay later with GitLab's True Up model. If someone leaves the team, simply block the user and transfer the license.
