%section.contact-sales.page-container.gitlab-cta-container.text-center.animated#pricing
  %h1 Starting at $39/user per year
  %div<
    = link_to "Explore products", "/products", class: "btn cta-btn red"
    = link_to "Download Data Sheet", "/pdfs/GitLab_Enterprise_Edition_2-Pager.pdf", class: "btn cta-btn red", download: "GitLab Enterprise Edition Data Sheet"
    = link_to "Contact Sales", "/sales", class: "btn cta-btn red"
