%section.faster-iteration.no-background-color-theme
  %h2.section-title Iterate faster than your competition
  %p.section-description Move faster from idea to production with built-in workﬂow best practices.
  .feature-preview-selector
    .selected-feature-image-wrap
      %img{:src => "", :alt => ""}
    %ul.feature-list
      %li.feature-select-zone
        %h4.feature-title GitLab CI
        %p.feature-description Run tests on every merge request and merge with conﬁdence.
      %li.feature-item
        %h4.feature-title Manual or automatic deploys
        %p.feature-description Deﬁne your CI/CD Pipeline and deploy cha nges on you r terms.
      %li.feature-item
        %h4.feature-title Pipeline Graph
        %p.feature-description Visualize your pipelines and easily ﬁx anything that fails.
