%section.flexible-solution
  %h2.section-title Flexible solution for all teams and all stacks
  %p.section-description Whether your team or tools change, GitLab Enterprise Edition is customizable to support your existing tools and growing team.
  .media-object-row
  .media
    .media-left{:href => "#"}
      %img.media-object{:alt => "Generic placeholder image", :src => "..."}
    .media-body
      %h4.media-heading JIRA integration 
      If your team prefers to use JIRA you can easily disable GitLab's Issue iracker and integrate JIRA. You can still reference and close JIRA issues from within GitLab. 
  .media
    .media-left{:href => "#"}
      %img.media-object{:alt => "Generic placeholder image", :src => "..."}
    .media-body
      %h5.media-heading Jenkins integration 
      GitLab Enterprise Edition integrates with Jenkins Cl. With this integration, you can trigger a build and see the build status on your merge request. 
  .media
    .media-left{:href => "#"}
      %img.media-object{:alt => "Generic placeholder image", :src => "..."}
    .media-body
      %h5.media-heading License flexibility
      When the team grows you can add new users now and pay later with GitLab's True Up model. If someone leaves the team, simply block the user and transfer the license.
