%section.hero-section
  .landing-hero.hidden-xs
  .container
    %h1.page-headline
      GitLab Enterprise Edition helps large teams innovate faster without compromising security or quality.
    %h2.page-subtitle

    .icons-wrap-better-name
      = icon('gitlab-ee/hero/hero-icon-1', 'hero-icon', { width: "100%", height: "100%" });
      = icon('gitlab-ee/hero/hero-icon-2', 'hero-icon', { width: "100%", height: "100%" });
      = icon('gitlab-ee/hero/hero-icons', 'hero-icon', { width: "100%", height: "100%" });