%section.hero-section
  .hero-image-wrap.landing-community
    // Contains images
    %img{src: '/images/gitlab_ee/hero/ee-standalone-hero-2x.png'}
  .container.splash-container
    %h1.page-headline
      GitLab Enterprise Edition helps large teams innovate faster without compromising security or quality.
    %h2.page-subtitle
    .icons-wrap-better-name
      %img{src: '/images/gitlab_ee/hero/hero-icons.svg'}

