%section.larger-teams
  %h2.section-title Larger teams shouldn't mean slower processes
  .media-object-row
  .media
    .media-left{:href => "#"}
      %img.media-object{:alt => "Generic placeholder image", :src => "..."}
    .media-body
      %h4.media-heading One platform
      All of the necessary tools for modern development in a single UI.
  .media
    .media-left{:href => "#"}
      %img.media-object{:alt => "Generic placeholder image", :src => "..."}
    .media-body
      %h5.media-heading Straightforward installation
      Ships in one easy to install package that can be hosted on nearly any server. 
  .media
    .media-left{:href => "#"}
      %img.media-object{:alt => "Generic placeholder image", :src => "..."}
    .media-body
      %h5.media-heading Supported
      Support packages that ensure your team can focus on their products and not their tools.

