.larger-teams
  %h2 Larger teams shouldn't mean slower processes
  .six-photos
    %img{:src => "", :alt => ""}
    %img{:src => "", :alt => ""}
    %img{:src => "", :alt => ""}
    %img{:src => "", :alt => ""}
    %img{:src => "", :alt => ""}
    %img{:src => "", :alt => ""}
  %p
    Used by over 100,000 organizations, enterprise development teams everywhere have realized that speed and security can coexist — but only with the right tools. GitLab Enterprise Edition builds on top of our open source product to give your team everything they need to work together and ship quality software.
  .media-blocks 
    %h4 Look into bootstrap
    .one
      %h3 One platform
      %p All of thenecessary tools for modern development in a single UI.
    .two
      %h3 Straightforward installation
      %p Ships in one easy to install package that can be hosted on nearly any server. 
    .three
      %h3 Supported
      %p Support packages that ensure your team can focus on their products and not their tools.




 
