%section.larger-teams.brand-primary-background-theme
  %h2.section-title Larger teams shouldn't mean slower processes
  .image-row
    %img{:src => "", :alt => ""}/
    %img{:src => "", :alt => ""}/
    %img{:src => "", :alt => ""}/
    %img{:src => "", :alt => ""}/
    %img{:src => "", :alt => ""}/
  %p.section-description Used by over 100,000 organizations, enterprise development teams everywhere have realized that speed and security can coexist— but only with the right tools. GitLab Enterprise Edition builds on top of our open source product to give your team everything they need to work together and ship quality software.
  .media-object-row
    .media
      .media-left{:href => "#"}
        %img.media-object{:alt => "Generic placeholder image", :src => "..."}
      .media-body
        %h4.media-heading One platform
        All of the necessary tools for modern development in a single UI.
    .media
      .media-left{:href => "#"}
        %img.media-object{:alt => "Generic placeholder image", :src => "..."}
      .media-body
        %h5.media-heading Straightforward installation
        Ships in one easy to install package that can be hosted on nearly any server. 
    .media
      .media-left{:href => "#"}
        %img.media-object{:alt => "Generic placeholder image", :src => "..."}
      .media-body
        %h5.media-heading Supported
        Support packages that ensure your team can focus on their products and not their tools.

