%section.os-principles.no-background-color-theme
  %h2.section-title-xl Open source principles meet enterprise software.
  %h3.section-subtitle-xl Building on our open source product, GitLab Enterprise Edition offers the additional authentication, user management, and workflow features that yourteam needs.
  %h2.section-title Work better together
  %p.section-description Let developers contribute ideas and work in parallel with built-in issue trackers, merge requests (MR), and powerful diff tools.
  .feature-preview-selector.js-feature-preview-selector
    .selected-feature-image-wrap.js-selected-feature-image-wrap
      %img.selected{src: "http://placehold.it/1280x770", :alt => "Authentication preview", data: { 'feature-id' => 'weights'}}
      %img{src: "http://placehold.it/1280x770", :alt => "LDAP group sync preview", data: { 'feature-id' => 'timetracking'}}}
      %img{src: "http://placehold.it/1280x770", :alt => "Permissions preview", data: { 'feature-id' => 'locking'}}}
    %ul.feature-list.js-select-zone-wrap
      %li.feature-select-zone.selected{ data: { 'feature-id' => 'weights'}}
        %h4.feature-title Issue Weights
        %p.feature-description Communicate an issue’s complexity or value to your team.
      %li.feature-select-zone{ data: { 'feature-id' => 'timetracking'}}
        %h4.feature-title Time tracking
        %p.feature-description Manage your projects effectively by tracking estimated and actual time spent.
      %li.feature-select-zone{ data: { 'feature-id' => 'locking'}}
        %h4.feature-title File locking
        %p.feature-description Lock any ﬁle or directory to avoid merge conflicts and better manage your text and binary files.
  .media-object-row
    .media
      .media-left{:href => "#"}
        %img.media-object{src: "http://placehold.it/30x30", :alt => "Media object image"}
      .media-body
        %h4.media-heading Issue Boards
        Plan, organize and visualize your release with multiple issue boards per project.
    .media
      .media-left{:href => "#"}
        %img.media-object{src: "http://placehold.it/30x30", :alt => "Media object image"}
      .media-body
        %h4.media-heading Merge request approvals
        Keep code quality high and set a number of required approvals before code can be merged.
    .media
      .media-left{:href => "#"}
        %img.media-object{src: "http://placehold.it/30x30", :alt => "Media object image"}
      .media-body
        %h4.media-heading Global code search
        Increase discovery and code reuse. Search through all code on the server.

