%section.productive-teams
  %h2 Make everyone on yourteam productive
  %p Regardless of location or timezone, you can ensure yourfull team can bejust as productive as if they were in the same office.
  .feature-pair
    %img{:src => "", :alt => ""}
    %h3 GitLab Geo
    %p Reduce the time it takes your distributed team to clone and fetch large repos by creating read-only mirrors of your GitLab instance.
  .feature-pair
    %img{:src => "", :alt => ""}
    %h3 External repository mirroring
    %p Keep all of your development in GitLab while still maintaining an update-to-date mirror. Sync and push changes to a remote repository.
  .feature-pair
    %img{:src => "", :alt => ""}
    %h3 External users
    %p Invite external contributors to work on your projects and limit their access and permissions.

