%section.top-reasons.no-background-color-theme
  %h2 Top reasons to choose GitLab
  .media-object-row
    .media
      .media-left{:href => "#"}
        %img.media-object{src: "http://placehold.it/30x30", :alt => "Media object image"}
      .media-body
        %h4.media-heading Next-generation git platform
        Tightly-integrated version control, project management, code review, testing, and deployment to thread conversation and maintain context across your full development process.
    .media
      .media-left{:href => "#"}
        %img.media-object{src: "http://placehold.it/30x30", :alt => "Media object image"}
      .media-body
        %h4.media-heading Scale
        A single machine server handles thousands of users and repositories. If your team is distributed, easily spin up a secondary GitLab Geo instance.
    .media
      .media-left{:href => "#"}
        %img.media-object{src: "http://placehold.it/30x30", :alt => "Media object image"}
      .media-body
        %h4.media-heading Updated monthly
        We release on the 22nd of every month so you never have to wait too long for new features. Of course, you choose when you update. 
  .media-object-row
    .media
      .media-left{:href => "#"}
        %img.media-object{src: "http://placehold.it/30x30", :alt => "Media object image"}
      .media-body
        %h4.media-heading Transparency
        GitLab’s roadmap and issue trackers are open. Submit an issue, add your perspective to open issues, and follow the development process.
    .media
      .media-left{:href => "#"}
        %img.media-object{src: "http://placehold.it/30x30", :alt => "Media object image"}
      .media-body
        %h4.media-heading Open source
        GitLab Enterprise Edition customers also have access to the source code. Scan or modify the code to meet your security and development needs.
    .media
      .media-left{:href => "#"}
        %img.media-object{src: "http://placehold.it/30x30", :alt => "Media object image"}
      .media-body
        %h4.media-heading Cost-effective
        GitLab is feature-packed, updated monthly, and is a fraction of the cost. No need for multiple products with different billing cycles or complex licensing rules.
    %button.call-to-action-btn Compare GitLab to other tools





