%nav.ee-navbar.navbar.navbar-default
  .container-fluid
    %ul.navbar-nav
      %li
        %a{:href => "#"} Benefits
      %li
        %a{:href => "#"} Features
      %li
        %a{:href => "#"} Pricing
      %li
        %a{:href => "#"} Compare
