%section.track-development.no-background-color-theme
  %h2.section-title Keep track of the development process
  %p.section-descriptions System administrators and manager can quickly see who has made changes to the server and easily follow the team’s contributions.
  .feature-tree
    .feature-tree-row
      %img{:src => "", :alt => ""}
      %h3.feature-tree-title Audit logs
      %p.feature-tree-description All changes made within the GitLab sewer are tracked and an advanced logging system stores all log files.
    .feature-tree-row
      %img{:src => "", :alt => ""}
      %h3.feature-tree-title Contributor analytics
      %p.feature-tree-description Get an overview of your organization’s and individual members activity of issues, merge requests and push events.