- level ||= 0
.node{class: ("root-node" if level == 0)}
  .employee-profile
    %strong.employee-name
      = member[:name]
    %em.employee-title
      = member[:title]
- if member[:children].any?
  .tree
    %ul
      - member[:children].each do |child|
        %li
          = partial "team_member", locals: {member: child, level: level + 1}
