---
layout: default
title: Terms
---

.wrapper
  .container
    #subscription
      %h2.terms GitLab Subscription Terms
      %p
        %a{href: "print/gitlab_subscription_terms_sig.pdf"} PDF Preview
      %br/
      %br/
      %br/
      %br/
      = partial "includes/terms/subscription"
      = partial "includes/terms/signature-block"
