%p
  The following terms govern the services provided by GitLab to clients that order consulting or development work.
  Please read this document carefully.
  By agreeing with the work you agree to be bound by the terms of this document.
%ol
  %li
    %strong Scope of services
    %p
      The services to be provided shall consist of consulting provided by GitLab to the client.
    %p
      Unless specified otherwise the work will be performed remotely and is based on best effort.
  %li
    %strong Planning and appointment
    %p
      If required GitLab and the client will schedule an appointment to perform the work.
      During the appointment the client will make an on-call engineer available that can answer operational questions.
      Examples of question subjects are: ssh access, file permissions, routing, email, backup settings, external issue tracker urls and LDAP configuration.
  %li
    %strong Estimates and Acceptance
    %p
      Work can be performed based on an hourly estimate for (part of) the work or without an estimate.
      Estimates are a best-guess by GitLab and are not a guarantee that the work will be performed in that time or that it can be completed at all.
      If the client does not show up for the appointment GitLab can charge for the full duration of the appointment.
      During the appointment GitLab will provide status updates when requested to do so.
      The client can decide to terminate the consulting at any point after the start of the appointment.
      The client can decide to test the work during the appointment or afterwards.
      If there is additional work needed after testing this will be invoiced at the normal rate.
      In some situations, GitLab Community Edition might require fixing a bug or implementing a new feature in order to accommodate a consultancy request.
      If this is the case, the additional work will be invoiced at the normal rate.
  %li
    %strong Ownership
    %p
      Ownership, copyright and title of any software that is developed by GitLab shall at all times remain with GitLab. The client shall not acquire directly, indirectly or by implication any title, copyright or ownership in the software or any parts thereof.
      We do not claim any ownership rights to the information that you submit to the GitLab application itself, your code is yours.
  %li
    %strong Rate and terms of payment
    %p
      The number of billable hours is calculated by rounding up to the nearest hour.
      Work will be invoiced after it is performed.
      Payment can happen by international bank transfer to the Netherlands or by credit card, payment by check is not possible.
  %li
    %strong Limitation of Liability.
    %p
      In no event will GitLab, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to GitLab Inc. under this agreement during the twelve (12) month period prior to the cause of action.
      GitLab shall have no liability for any failure or delay due to matters beyond their reasonable control.
      The foregoing shall not apply to the extent prohibited by applicable law.
  %li
    %strong Indemnification.
    %p
      You agree to indemnify and hold harmless GitLab, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of this Agreement, including but not limited to your violation of this Agreement.
    %p
  %li
    %strong Disclaimer of warranty
    %p
      GitLab.com makes no warranty, express or implied, with regard to the services provided, all such warranties are hereby excluded by GitLab and waived by the client.
      In no event will GitLab be liable to the client or any other individual or entity connected with the client for any claim, loss of revenue profits, sales, business, data, code, service, information exclusivity or damage of any kind of nature, arising out of or in connection with the consultancy.
      In any event, GitLab's maximum liability to the client shall be limited to the amounts actually paid to GitLab during the previous twelve (12) months.
  %li
    %strong Confidentiality
    %p
      GitLab acknowledges that in the course of providing the services, and of other services provided, GitLab or its employees or consultants, may be supplied with or come into possession of information which is proprietary to the client.
      Including information as to code, licenses, methods of doing business, and operations.
      GitLab hereby agrees that it will keep all such information confidential, and will disclose such information to no other person or entity.
      In addition, GitLab agrees to take such action as may be necessary or appropriate by way of agreement with, and instruction to, its employees so as to maintain the confidentiality of such confidential information and licenses.
  %li
    %strong Partial invalidity
    %p
      If any provision of this document is held by a court of competent jurisdiction to be invalid, void, or unenforceable, the remaining provisions shall nevertheless continue in full force without being impaired or invalidated in any way.
  %li
    %strong Failure to enforce
    %p
      The failure of either party to enforce at any time, or for any period of time, the provisions hereof shall not be construed to be a waiver of such provisions or of the right of such party to enforce each and every such provision.
  %li
    %strong Dispute resolution
    %p
      The parties will engage in good faith negotiations to resolve the dispute for a period of ten (10) business days after written notice of the dispute or issue is provided by one party to the other. Within such ten (10) business days, representatives from each party will engage in negotiations to resolve the dispute, and such individuals will meet in person, via videoconference or via telephone and attempt to informally resolve the dispute or issues. If those persons are unable to resolve the dispute within such ten (10) business days, then unless the parties have mutually agreed to extend the negotiation period, a party may exercise its rights available to such party under this agreement or otherwise.
  %li
    %strong Arbitration
    %p
      Any dispute, controversy or claim arising out of or relating to this Agreement, including the formation, interpretation, breach or termination thereof, including whether the claims asserted are arbitrable, which has not been resolved via the process laid out in Dispute resolution will then be referred to and finally determined by arbitration in accordance with the Arbitration Rules of the Netherlands Arbitration Institute.
      The arbitral tribunal shall be composed of one arbitrator.
      The place of arbitration shall be Utrecht or Amsterdam, The Netherlands.
      The arbitral procedure shall be conducted in the English language.
      Judgment upon the award rendered by the arbitrator(s) may be entered in any court having jurisdiction thereof.
  %li
    %strong Governing law
    %p
      This agreement shall be governed by and interpreted in accordance with the laws of the Netherlands.
