%p
  The following terms and conditions govern all use of the GitLab.com website (the “Website”) owned by GitLab B.V. and all content, services and support packages.
  The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, procedures that may be published from time to time on this Website by GitLab B.V. (collectively, the “Agreement”).
%p
  Please read this Agreement carefully before accessing or using the Website.
  By accessing or using any part of the Website, you agree to be bound by the terms and conditions of this agreement.
  If you do not agree to all the terms and conditions of this Agreement, then you may not access the Website or use any services.
  If these terms and conditions are considered an offer by GitLab B.V., acceptance is expressly limited to these terms.
  The Website is available only to individuals who are at least 13 years old.
%ol
  %li
    %strong Ownership
    %p
      Ownership, copyright and title of any software that is developed by GitLab B.V. shall at all times remain with GitLab B.V. The client shall not acquire directly, indirectly or by implication any title, copyright or ownership in the software or any parts thereof.
      We do not claim any ownership rights to the information that you submit to the GitLab application itself, your code is yours.
  %li
    %strong Your Account and Site
    %p
      If you create an account on the Website, you are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the account.
      You must immediately notify GitLab B.V. of any unauthorized use of your account or any other breaches of security.
      GitLab B.V. will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.
  %li
    %strong Payment and Renewal
    %p
      By selecting a subscription, you agree to pay GitLab B.V. the annual subscription fees indicated for that service.
      Subscription fees are not refundable except when the client is not satisfied with the subscription and informs GitLab B.V. within the first 45 days of the subscription.
      The subscription fee will be specified on your invoice.
      Unless you notify GitLab B.V. before the end of the applicable subscription period that you want to cancel the subscription will renew automatically.
      GitLab B.V. reserves the right to adjust the rate at renewal time.
      You authorize us to collect the then-applicable annual subscription fee using any credit card or other payment mechanism we have on record for you.
  %li
    %strong Paid Support
    %p
      If you have purchased a support subscription for GitLab.com, you are entitled to next business day email responses to technical inquiries.
      The number of inquiries is not limited.
  %li
    %strong Reference
    %p
      GitLab B.V. shall be entitled to use the name and logo of your organization publicly as a reference in relation to the marketing and distribution of its products and/or services.
  %li
    %strong GitLab Newsletter
    %p
      By creating an account on GitLab.com you give us permission to add your email address to the GitLab newsletter. You can unsubscribe at any time by using the link at the bottom of the newsletter.
  %li
    %strong Responsibility of Website Visitors
    %p
      GitLab B.V. has not reviewed, and cannot review, all of the material, including computer software, posted to the Website, and cannot therefore be responsible for that material’s content, use or effects.
      By operating the Website, GitLab B.V. does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful.
      You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.
      The Website may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors.
      The Website may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated.
      GitLab B.V. disclaims any responsibility for any harm resulting from the use by visitors of the Website, or from any downloading by those visitors of content there posted.
  %li
    %strong Content Posted on Other Websites
    %p
      We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which this website links, and that link to this website.
      GitLab B.V. does not have any control over those non-GitLab B.V. websites and webpages, and is not responsible for their contents or their use.
      By linking to a non-GitLab B.V. website or webpage, GitLab B.V. does not represent or imply that it endorses such website or webpage.
      You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.
      GitLab B.V. disclaims any responsibility for any harm resulting from your use of non-GitLab B.V. websites and webpages.
  %li
    %strong Copyright Infringement and DMCA Policy
    %p
      As GitLab B.V. asks others to respect its intellectual property rights, it respects the intellectual property rights of others.
      If you believe that material located on or linked to by GitLab B.V. violates your copyright, you are encouraged to notify GitLab B.V. in accordance with our
      = succeed "." do
        %a{:title => "https://about.gitlab.com/dmca/"} DMCA policy
  %li
    %strong Intellectual Property
    %p
      This Agreement does not transfer from GitLab B.V. to you any GitLab B.V. or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with GitLab B.V..
      GitLab, the GitLab logo, and all other trademarks, service marks, graphics and logos used in connection with GitLab, or the Website are trademarks or registered trademarks of GitLab B.V. or GitLab B.V.’s licensors.
      GIT is a trademark of Software Freedom Conservancy and our use of “GitLab” is under license.
      Other trademarks, service marks, graphics and logos used in connection with the Website may be the trademarks of other third parties.
      Your use of the Website grants you no right or license to reproduce or otherwise use any GitLab B.V. or third-party trademarks.
  %li
    %strong Changes
    %p
      GitLab B.V. reserves the right, at its sole discretion, to modify or replace any part of this Agreement.
      It is your responsibility to check this Agreement periodically for changes.
      Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes.
      GitLab B.V. may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources).
      Such new features and/or services shall be subject to the terms and conditions of this Agreement.
      GitLab B.V. may also, in the future, remove features at any time without warning.
    %strong
      %br/
  %li
    %strong General Representation
    %p
      You represent and warrant that (i) your use of the Website will be in strict accordance with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.
  %li
    %strong Termination
    %p
      GitLab B.V. may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately.
      If you wish to terminate this Agreement or your GitLab B.V. account (if you have one), you may simply discontinue using the Website.
      All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
      The termination of the subscription can happen with a written notice at any time by both the client and GitLab B.V..
      If a termination happens in the first 45 days of the subscription there is no charge and any paid fees will be refunded to the client.
      Should the client fail to pay all or any part of the fees on the due date GitLab B.V. may terminate the subscription.
      When the client terminates the subscription after the first 45 days they will forfeit the subscription fee.
      When GitLab B.V. terminates the subscription after the first 45 days the client will receive a prorated refund.
    %strong
      %br/
  %li
    %strong Limitation of Liability
    %p
      In no event will GitLab B.V., or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to GitLab B.V. under this agreement during the twelve (12) month period prior to the cause of action.
      GitLab B.V. shall have no liability for any failure or delay due to matters beyond their reasonable control.
      The foregoing shall not apply to the extent prohibited by applicable law.
  %li
    %strong Indemnification
    %p
      You agree to indemnify and hold harmless GitLab B.V., its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of this Agreement, including but not limited to your violation of this Agreement.
  %li
    %strong Disclaimer of Warranty
    %p
      The Website is provided “as is”.
      GitLab B.V. and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement.
      Neither GitLab B.V. nor its suppliers and licensors, makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted.
      You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.
      GitLab B.V. makes no warranty, express or implied, with regard to the services provided, all such warranties are hereby excluded by GitLab B.V. and waived by the client.
      In no event will GitLab B.V. be liable to the client or any other individual or entity connected with the client for any claim, loss of revenue profits, sales, business, data, code, service, information exclusivity or damage of any kind of nature, arising out of or in connection with the subscription.
      In any event, GitLab B.V.'s maximum liability to the client shall be limited to the amounts actually paid to GitLab B.V. during the previous twelve (12) month subscription term.
  %li
    %strong Partial Invalidity
    %p
      If any provision of this document is held by a court of competent jurisdiction to be invalid, void, or unenforceable, the remaining provisions shall nevertheless continue in full force without being impaired or invalidated in any way.
  %li
    %strong Failure to Enforce
    %p
      The failure of either party to enforce at any time, or for any period of time, the provisions hereof shall not be construed to be a waiver of such provisions or of the right of such party to enforce each and every such provision.
  %li
    %strong Dispute Resolution
    %p
      The parties will engage in good faith negotiations to resolve the dispute for a period of ten (10) business days after written notice of the dispute or issue is provided by one party to the other. Within such ten (10) business days, representatives from each party will engage in negotiations to resolve the dispute, and such individuals will meet in person, via videoconference or via telephone and attempt to informally resolve the dispute or issues. If those persons are unable to resolve the dispute within such ten (10) business days, then unless the parties have mutually agreed to extend the negotiation period, a party may exercise its rights available to such party under this agreement or otherwise.
  %li
    %strong Arbitration
    %p
      Any dispute, controversy or claim arising out of or relating to this Agreement, including the formation, interpretation, breach or termination thereof, including whether the claims asserted are arbitrable, which has not been resolved via the process laid out in Dispute resolution will then be referred to and finally determined by arbitration in accordance with the Arbitration Rules of the Netherlands Arbitration Institute.
      The arbitral tribunal shall be composed of one arbitrator.
      The place of arbitration shall be Utrecht or Amsterdam, The Netherlands.
      The arbitral procedure shall be conducted in the English language.
      Judgment upon the award rendered by the arbitrator(s) may be entered in any court having jurisdiction thereof.
  %li
    %strong Governing law
    %p
      This agreement shall be governed by and interpreted in accordance with the laws of the Netherlands.
