.signature-block
  %ul.list-group
    %li.list-group-item
      %b Customer:
      %br/
      %br/
    %li.list-group-item
      Signature:
      %br/
      %br/
      %br/
      %br/
    %li.list-group-item
      Name:
      %br/
      %br/
    %li.list-group-item
      Title:
      %br/
      %br/
    %li.list-group-item
      Date:
      %br/
      %br/
.signature-block
  %ul.list-group
    %li.list-group-item
      %b
        GitLab B.V.
        %br/
        %br/
    %li.list-group-item
      Signature:
      %br/
      %br/
      %br/
      %br/
    %li.list-group-item
      Name:
      %br/
      %br/
    %li.list-group-item
      Title:
      %br/
      %br/
    %li.list-group-item
      Date:
      %br/
      %br/
