---
layout: default
title: Confirmation
---
#content
  .container.text-left
    .row
      .col-sm-9.col-md-9
        .entry
          .row
            .col-sm-12.col-md-12
              %p
              %h3 Thanks for filling out the GitLab.com consultancy form. We will soon get in contact with you via your e-mail supplied in the form.
              / Google Code for Consultancy order Conversion Page
              :javascript
                var google_conversion_id = 999150614;
                var google_conversion_language = "en";
                var google_conversion_format = "1";
                var google_conversion_color = "ffffff";
                var google_conversion_label = "1VBOCMqcyAUQlqi33AM";
                var google_conversion_value = 0;
              %script{src: "//www.googleadservices.com/pagead/conversion.js", type: "text/javascript"}
                :cdata
              %noscript
                \<div style="display:inline;">
                \<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/999150614/?value=0&amp;label=1VBOCMqcyAUQlqi33AM&amp;guid=ON&amp;script=0"/>
                \</div>
              %p
