---
layout: default
title: Events
suppress_header: true
extra_css:
  - events.css
extra_js:
  - events.js
extra_font:
  - "Roboto+Slab"
---

.page-container.event-headline-container.text-center.animated
  .container
  %h1.page-headline
    Lorem Ipsum Event Headline goes here
  %h3.subheader
    Tagline about events goes here
  .row.featured-event-container
    .col-md-6
      .image-card
        = image_tag "/images/blogimages/gitlab-workflow-an-overview/idea-to-production-cover.jpg", alt: "event 1"
    .col-md-6
      %h2.featured-event-title
        Gitlab World Tour - London
      .featured-event-description
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
          in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
      .feature-event-button
        %button.btn.btn-large.btn-yellow{type:"button"}
          CTA
.page-container.upcoming-events.text-center.animated
  .container
    %h1.page-headline
      Upcoming Events
    %h3.subheader
      Tagline about upcoming events goes here
  .row
    .container.filters-container
      .col-md-4
        .dropdown#event-types
          %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
            .dropdown-title
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
      .col-md-4
        .dropdown.level#event-topics
          %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
            .dropdown-title
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
      .col-md-4
        .dropdown.level#event-location
          %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
            .dropdown-title
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
  .row
    %ul.event-list{role: "navigation"}
    .center-horizontal
      %nav
        %ul.pagination
          %li
            %a{href:"#"}
              <<
          %li
            %a{href:"#"}
              1
          %li
            %a{href:"#"}
              >>
    .rad-event-container
      .rad-event
        %h1
          Know about a rad event we should be at?
        %h2
          Again, drop us a line -- we'd love to be there with you
        %button.btn.btn-lg.btn-red{type:"button"}
          Drop It Like It's Hot
.page-container.missed-events.text-center.animated
  %h1
    Sorry we missed you, checkout these event recaps
  %h2
    Optional tagline about event recaps goes here
  .row.event-recap
    .col-md-4.image-card-container
      .image-card
        -#
          placeholders!
        = image_tag "/images/blogimages/gitlab-workflow-an-overview/idea-to-production-cover.jpg", alt: "event 1"
        .image-card-text
          Event recap title goes here
    .col-md-4.image-card-container
      .image-card
        -#
          placeholders!
        = image_tag "/images/blogimages/gitlab-workflow-an-overview/idea-to-production-cover.jpg", alt: "event 2"
        .image-card-text
          Event recap title goes here
    .col-md-4.image-card-container
      .image-card
        -#
          placeholders!
        = image_tag "/images/blogimages/gitlab-workflow-an-overview/idea-to-production-cover.jpg", alt: "event 3"
        .image-card-text
          Event recap title goes here
  .row.rad-event-container
    .rad-event.rad-event-alt
      %h1
        Gitlab Diversity Scholarship
      %h2
        Optional tagline about the scholarship can go right here
      %button.btn.btn-lg.btn-red{type:"button"}
        Learn More
%script{type:"text/events-templates", id:"events-list-template"}
  %li
    .event-headers
      -# The event title and dates
      %h2.event-topic

      %h4.event-type.visible-xs-block

      %h2.event-date

      %h4.event-location.visible-xs-block

      .clear-floats
    .event-subheaders.hidden-xs

      %h4.event-type

      %h4.event-location

      .clear-floats
    %div
      %p.event-description

    .social-tags.visible-xs-block
      %span.social-tag
    .event-buttons
      -# Social buttons
      .buttons
        %button.btn.featured-item-button-events{type:"button"}
          Join Us!
      .clear-floats
    .social-tags.hidden-xs
