$color-white: #fff;
$color-white-alt: #d9ccff;

$color-dark: #000;

$color-gray: #777;
$color-gray-medium: #ddd;
$color-gray-light: #aaa;

$color-primary: #554488;
$color-primary-alt: #6b4fbb;
$color-secondary: #e14329;
$color-secondary-alt: #fba225;

$divider-color: #d3d3d3;

$link-color: #55acee;

$header-text-light-color: #a69ebd;

$team-content-color: #999;
$member-name-color: #333;
$member-shadow-color: #ccc;
$member-social-color: #ccc;

$blog-date-color: #999;
$blog-text-color: #444;
$blog-image-color-to: #4887C5;
$blog-divider-color: #128bee;

$mvp-list-bg: #403366;
$mvp-table-border: #584985;
$mvp-table-header-color: #9583C9;

$landing-community-bg: #34373c;
$landing-organization-color: #d7d7d7;

$downloads-btn-color: #7769a0;
$downloads-btn-hover-color: #403366;
$downloads-code-color: #403366;
$downloads-step-link-color: #ffb800;
$downloads-step-color: #e3dcf7;

// Bootstrap overrides
$body-bg: #f9f9f9;

$font-family-sans-serif: "Source Sans Pro", sans-serif;

$navbar-default-bg: #fff;
$navbar-default-toggle-icon-bar-bg: $color-primary-alt;

$navbar-default-link-color: #8C929D;
$navbar-default-link-hover-color: $color-primary-alt;
$navbar-default-link-active-color: $color-primary-alt;
$navbar-default-link-active-bg: transparent;

$dropdown-bg: #019875;
$dropdown-link-color: #fff;
$dropdown-link-hover-color: #18BE97;
