body{
	background: #548;
}

h1 {
	color: #FFF;
}

a {
  color: #FFF;
	transition: all 0.2s;
}

a p {
	color: #BBB4CF;
}

a:hover{
  color: #A5ABFB;
  text-decoration: none;
}

p {
  margin: 0px 0px 30px;
}

.community {
	padding: 50px 0px;
	background: #548;
	text-align: center;
}
