@import "variables";

a {
  color: $color-white;

  &:hover {
    color: $color-secondary-alt;
    text-decoration: none;
  }
}

h2 {
  color: $color-white;
}

p {
  margin: 0 0 30px;
}

.contact {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
  background: $color-primary;
  color: $contact-color;
}

.btn-primary {
  color: $color-white;
  background-color: $contact-btn-bg;
  border: 0;

  &:hover {
    color: $color-white;
    background-color: lighten($contact-btn-bg, 10%);
  }
}

.clear {
  padding-bottom: 4px;
}

.btn-o {
  padding-top: 5px;
}

.newsletter-afterword {
  margin-top: 12px;
}

// scss-lint:disable all
.mktoAsterix, .mktoLabel {
  display: none !important;
}

.mktoForm {
  margin: 0 auto;
  width: 220px;
}

.mktoFormCol {
  margin-bottom: 0 !important;
}

.mktoFieldWrap {
  float: none !important;
}

.mktoButtonWrap {
  margin: 0 !important;
}

.mktoGutter, .mktoOffset {
  width: 0 !important;
}

.mktoField, .mktoButton {
  width: 220px !important;
}

.mktoButton {
  background-color: #887AB6 !important;
  background-image: none !important;
  border: none !important;
  color: #FFF !important;
}

.mktoButton:hover {
  background-color: #6654A1 !important;
  color: #FFF !important;
}
// scss-lint:enable all
