.title {
  font-size: 49px;
  color: #fff;
  line-height: 66px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin: 50px auto;
}

.header-text {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  width: 600px;
  margin: auto;
  text-align: justify;
}

.header-text .actions {
  margin-top: 25px;
}

.feature {
  width: 750px;
  height: 400px;
  margin: 70px auto;
  text-align: left;
}

.feature .name {
  font-size: 29px;
  color: #000000;
  line-height: 39px;
  text-transform: uppercase;
  font-weight: 300;
}

.feature .description {
  font-size: 23px;
  color: #737373;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 5px;
}

.feature img {
  margin: auto;
}

.img {
  height: 299px;
  width: 749px;
  overflow: hidden;
  border: 1px solid #595959;
}

.img img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.img:hover img {
  -webkit-transform:scale(1.15); /* Safari and Chrome */
  -moz-transform:scale(1.15); /* Firefox */
  -ms-transform:scale(1.15); /* IE 9 */
  -o-transform:scale(1.15); /* Opera */
   transform:scale(1.15);
}

.feature .link {
  text-align: right;
}

.feature .link a {
  text-decoration: none;
  font-size: 15px;
  color: #A0A0A0;
  line-height: 20px;
}

.feature .link a:hover {
  color: #0E74AD;
}

.wide-feature {
  width: 100%;
}

.wide-feature.head {
  background: #8865A8;
  padding: 50px 0px;
}

.wide-feature.head .btn-default {
  background: none;
  color: white;
}

.wide-feature.mr {
  background: url('/images/feature_page/bg.png');
  background-attachment: fixed;
}

.wide-feature.mr .wide-img {
  float: right;
}

.wide-feature.ee {
  background: #412A55;
  height: 300px;
}

.wide-feature .name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  padding-top: 100px;
  font-size: 40px;
}

.wide-feature.mr .name {
  text-align: left;
  font-size: 60px;
  color: #454545;
  line-height: 67px;
  margin-left: 30px;
}

.wide-feature .description {
  text-align: center;
  font-weight: 300;
  color: #fff;
  font-size: 23px;
}

.wide-feature.mr .description {
  text-align: left;
  margin-left: 30px;
  font-size: 20px;
  color: #353535;
  line-height: 27px;
  font-weight: 400;
}

.wide-feature-link {
  text-align: right;
}

.wide-feature-link a {
  text-decoration: none;
  font-size: 15px;
  color: #A0A0A0;
  line-height: 20px;
}

.half-feature {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

.half-feature .name {
  font-size: 29px;
  color: #000000;
  line-height: 39px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
}

.half-feature .img {
  width: 400px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #595959;
}

.half-feature .link {
  text-align: right;
}

.half-feature .link a {
  text-decoration: none;
  color: #A0A0A0;
}

.half-feature .link a:hover {
  color: #0E74AD;
}

.half-feature .right {
  float: right;
}

.quicknav {
  background: #fff;
  background: rgba(255,255,255,0.9);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  z-index: 100;
}

.quicknav ul {
  list-style: none;
}

.affix-top {
  right: 0;
  position: absolute;
  padding-right: 20px;
  top: 300px;
}

.affix {
  position: fixed;
  right: 0;
  padding-right: 20px;
  top: 50px;
}
