@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "sandwich-page-layout";

.landing-container {
  background: url("/images/feature_page/hero-background-overlay-features-page-v2.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.video-button {
  width: 190px;
  line-height: 60px;

  span {
    margin-right: 3px;
  }
}

.video-container {
  box-shadow: 0 0 5 3 $features-semi-transparent-black;
  width: 60vw;
  height: 34vw;
  display: none;
}

.compare-other-tools {
  margin-top: 20px;
}

.qnav {
  background: $color-primary-alt;
  position: fixed;
  width: 100%;
  border: 0;
  border-radius: 0;
  min-height: 0;
  z-index: 100;
  transition: all .5s ease;
}

.featurenav {
  width: 350px;
}

.nav-justified > li {
  > a {
    color: $color-white;
    border-radius: 0;
  }

  > a:hover,
  &.active > a,
  &.active > a:hover {
    background: $color-primary;
  }

  > a.selected {
    background: $color-primary;
  }
}

@media(max-width: $screen-xs-max) {
  .video-button {
    margin-top: 50px;
  }

  .video-container {
    width: 380px;
    height: 260px;
    margin-top: 50px;
  }
}
