@import "variables";
.gitlab-ee-standalone {
  .brand-primary-background-theme {
    background-color: $color-primary;
    .section-title {
      color: $color-secondary-alt;
    }
    .section-description {
      color: $color-white;
    }
    h3 {}
    p {}
    .media {}
    .media-heading {}
    .media-body {}
    .media-object {
      img {}
    }
    .feature-preview-selector {
      .feature-item {}
      .feature-title {
        color: $color-secondary-alt;
      }
      .feature-description {
        color: $color-white;
      }
    }
    .feature-tree-title {
      color: $color-secondary-alt;
    }
    .feature-tree-description {
      color: $color-primary;
    }
  }
  .no-background-color-theme {
    background-color: $color-white;
    .section-title {
      color: $color-secondary-alt;
    }
    .section-description {
      color: $color-white;
    }
    h3 {}
    p {}
    .media-heading {}
    .media-body {}
    .media-object {}
    .feature-preview-selector {
      .feature-item {

      }
      .feature-title {
        color: $color-primary;
      }
      .feature-description {
        color: $blog-text-color;
      }
    }
    .feature-tree-title {
      color: $color-secondary-alt;
    }
    .feature-tree-description {
      color: $color-primary;
    }
  }
  .ee-standalone-section,
  section {
    padding: 50px 0;
    .section-title {
      margin: 10px;
    }
    .section-description {}
  }
  .feature-tree {
    .feature-tree-row {}
    .feature-tree-title {}
    .feature-tree-description {}
  }
  .feature-preview-selector {
    .feature-preview-selector {}
    .selected-feature-image-wrap {}
    .feature-list {}
    .feature-select-zone {}
    .feature-title {}
    .feature-description {}
  }
  .media-object-row {
    .media {}
    .media-heading {}
    .media-body {}
    .media-object {
      img {}
    }
  }
  .call-to-action-btn {}
}