@import "vendor/bootstrap/bootstrap";
@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
.gitlab-ee-standalone {
  .ee-navbar.navbar-default {
    background-color: #6b4fbb;
    font-size: 16px;
    margin: 50px 0 0 0;
    min-height: 0;
    border: none;
    border-radius: 0px;
    text-align: center;
  }
  .nav.navbar-nav {
    margin: 0 auto;
    display: inline-block;
    float: none;
    a {
      font-size: 13px;
      padding: 10px 25px 5px;
      color: $color-white;
      font-weight: 300;
      &:hover {
        color: $color-white-alt
      }
    }
  }
  .brand-primary-background-theme {
    background-color: $color-primary;
    .section-title {
      color: $color-secondary-alt;
    }
    .section-description {
      color: $color-white;
    }
    h3 {}
    p {}
    .media {}
    .media-heading {
      color: $color-white;
    }
    .media-body {
      color: $color-white-alt;
    }
    .media-object {
      color: $color-secondary-alt;
      fill: $color-secondary-alt;
    }
    .feature-preview-selector {
      .feature-select-zone {
        &.selected {
          background: $color-gray-extra-light;
        }
        &:hover {
          background: $color-gray-extra-light;
        }
      }
      .feature-title {
        color: $color-secondary-alt;
      }
      .feature-description {
        color: $color-white;
      }
    }
    .feature-tree-title {
      color: $color-secondary-alt;
    }
    .feature-tree-description {
      color: $color-white;
    }
  }
  .no-background-color-theme {
    background-color: $color-white;
    .section-title {
      color: $color-secondary;
    }
    .section-title-xl {
      color: $color-primary;
    }
    .section-subtitle-xl {
      color: $color-gray;
    }
    .section-description {
      color: $color-primary;
    }
    .media-heading {
      color: $color-primary;
    }
    .media-body {
      color: $blog-text-color;
    }
    .media-object {
      color: $color-secondary;
      fill: $color-secondary;
    }
    .feature-preview-selector {
      .feature-select-zone {
        &.selected {
          background: lighten($color-gray-extra-light, 5%);
        }
        &:hover {
          background: lighten($color-gray-extra-light, 6%);
        }
      }
      .feature-title {
        color: $color-secondary;
      }
      .feature-description {
        color: $color-primary;
      }
    }
    .feature-tree-title {
      color: $color-secondary-alt;
    }
    .feature-tree-description {
      color: $color-primary;
    }
  }
  section {
    .section-container {
      @extend .container;
    }
    padding: 60px 0 80px;
    .section-title {
      text-align: center;
      margin-bottom: 40px;
      font-weight: 300;
      font-size: 24px;
    }
    .section-description {
      margin-bottom: 20px;
      text-align: center;
      font-weight: 300;
      font-size: 18px;
    }
    h2.section-title-xl {
      margin-bottom: 10px;
      text-align: center;
      font-size: 36px;
      font-weight: 300;
    }
    h3.section-subtitle-xl {
      margin-bottom: 100px;
      text-align: center;
      font-size: 24px;
      font-weight: 300;
    }
    img {
      @extend .img-responsive;
    }
    p {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  .feature-tree {
    .feature-tree-row {
      @extend .row;
      display: flex;
      justify-content: start;
      align-items: center;
      margin-top: 50px;
    }
    .feature-tree-image-wrap {
      @extend .col-xs-7;
    }
    img {}
    .feature-tree-text-wrap {
      @extend .col-xs-5;
    }
    .feature-tree-title {}
    .feature-tree-description {}
  }
  .feature-preview-selector {
    margin-bottom: 40px;
    .selected-feature-image-wrap {
      margin-bottom: 60px;
      @extend .row;
      img {
        display: none;
        @extend .col-xs-8;
        @extend .col-md-offset-2;
        &.selected {
          display: block;
        }
      }
    }
    .feature-list {
      margin-bottom: 90px;
      @extend .row;
    }
    .feature-select-zone {
      height: 180px;
      padding: 30px 50px;
      @extend .col-xs-4;
      text-align: center;
      list-style-type: none;
    }
    .feature-title {
      font-size: 24px;
      font-weight: 300px;
    }
    .feature-description {
      font-size: 18px;
      font-weight: 300;
    }
  }
  .media-object-row {
    @extend .row;
    margin-top: 50px;
    .media {
      @extend .col-xs-4;
    }
    .media-left {
      @extend .col-xs-2;
    }
    .media-heading {
      margin-top: 0;
    }
    .media-body {
      @extend .col-xs-10;
    }
    .media-object {
      height: 32px;
      width: 32px;
    }
  }
  .call-to-action-btn {
    text-align: center;
    @extend .btn-danger;
    margin-top: 30px;
  }
  .icons-wrap-better-name {}
  .hero-section {
    position: relative;
    padding: 80px 0 160px;
  }
  .page-headline {
    margin-bottom: 130px;
    font-weight: 300;
    text-align: center;
    line-height: 60px;
  }
  .landing-community {
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    background-color: #34373c;
    &:after {
      background-image: linear-gradient(to bottom, rgba(52, 55, 60, 0.85), #34373c 85%);
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .splash-container {
      .landing-hero {}
      h1 {}
      h2 {}
      svg {}
    }
    .hero-icon {
      z-index: 10000;
      position: absolute;
      bottom: 0;
    }
    .hero-section {}
    .hero-img-wrap {}
  }
  .container.splash-container {
    position: relative;
    z-index: 9;
    padding-bottom: 30px;
  }
  .container {}
  .contact-sales {
    text-align: center;
    border-bottom: 1px solid $border-color;
  }
  .top-reasons {
    text-align: center;
  }
  .image-row {
    text-align: center;
    margin-bottom: 20px;
    svg {
      margin-right: 10px;
    }
  }
}