@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "sandwich-page-layout";

.qnav {
  background: $color-primary;
  position: fixed;
  width: 100%;
  border: 0;
  border-radius: 0;
  min-height: 0;
  z-index: 100;
  transition: all .5s ease;
}

.qnav2 {
  background: $color-primary-alt;
}

.nav-justified > li > a {
  color: $color-white;
  border-radius: 0;

  &:hover {
    background: $color-primary;
  }
}

.featurenav {
  width: 500px;
}

.gitlab-ee-standalone {
  .landing-container {
    padding-top: 30px;
    background: url("/images/gitlab_ee/hero/ee-standalone-hero-2x.png") center center no-repeat;
    background-size: cover;
    background-color: $landing-community-bg;

    @media (min-width: $screen-sm-min) {
      padding-top: 120px;
    }

    @media (min-width: $screen-lg-min) {
      padding-top: 160px;
    }

    &::after {
      background-image: $ee-standalone-hero-background-gradient;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .contact-sales {
    text-align: center;
    border-bottom: 1px solid $border-color;
  }

  .top-reasons {
    text-align: center;

    .media {
      @media(max-width: $screen-sm-max) {
        text-align: left;
      }
    }
  }

  .orgs-row {
    margin-top: 20px;
    text-align: center;

    > svg {
      float: left;
      width: 50%;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;

      @media (min-width: $screen-sm-min) {
        float: none;
        width: auto;
      }
    }
  }
}

.larger-teams {
  .titles {
    h3 {
      margin-top: 0;
    }
  }

  .section-description {
    margin-bottom: 30px;
    color: $color-white;
    font-size: 18px;
    font-weight: 300;
  }
}

.feature-tree-row {
  @media (min-width: $screen-md-min) {
    display: flex;
  }

  &:not(:last-child) {
    @media (min-width: $screen-md-min) {
      margin-bottom: 40px;
    }
  }
}

.feature-tree-text-wrap {
  align-self: center;
}

.feature-tree-description {
  font-size: 16px;
}

.top-reasons {
  .titles {
    h2 {
      margin-bottom: 40px;
      color: $color-primary-alt;
    }
  }
}
