@import "variables";

.heading-container {
  position: relative;
  padding-top: 40px;

  @media (min-width: $screen-sm-min) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &::after {
    background-image: linear-gradient(to right, $color-primary, $color-primary-alt 50%);
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .container {
    position: relative;
    z-index: 9;
  }

  .page-headline {
    margin-bottom: 0;
    font-weight: 200;
  }

  .subheader {
    margin-top: 15px;
    margin-bottom: 25px;
    color: $color-gray-light;
    font-weight: 200;
    font-size: 26px;
  }
}

.credit-card-disclaimer {
  display: block;
  color: $color-gray-light;
  font-size: 16px;
}

.gitlab-com-features {
  h2 {
    margin-top: 0;
    font-size: 28px;
    font-weight: 300;
    color: $color-primary;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300;
    color: $color-gray-light;
  }
}

.gitlab-com-features-list {
  li {
    margin-bottom: 50px;
  }
}

.features-list-title {
  font-size: 18px;
  color: $color-primary;
}

.features-list-sub-title {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: $color-primary;
}

.pricing-panel-body {
  padding-top: 20px;
  padding-bottom: 20px;
  color: $color-primary-alt;

  p {
    font-size: 18px;
  }
}

.pricing-panel-price {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
}

.pricing-panel-price-side {
  display: inline-block;
  width: 0;
  font-size: 16px;
}

.gitlab-com-questions {
  background-color: $color-white;
  border-top: 1px solid $landing-organization-color;

  h2 {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 40px;
    color: $color-primary;
  }
}

.gitlab-com-stratergy {
  background-color: $color-primary;

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  p {
    color: $color-white;

    &.gitlab-com-stratergy-plan-text {
      font-size: 16px;
      color: rgba($color-white, .8);
    }
  }
}

.gitlab-com-stratergy-title {
  color: $color-secondary-alt;
}

.gitlab-com-stratergy-title-future {
  margin-bottom: 30px;
}

.gitlab-com-stratergy-opening-text {
  margin-bottom: 50px;
  font-size: 18px;
}

.gitlab-com-stratergy-plans {
  margin-bottom: 50px;
}

.gitlab-right-fit {
  padding-top: 60px;
  padding-bottom: 60px;

  h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 40px;
    color: $color-primary;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 200;
    color: $color-gray-light;
  }
}

.gitlab-used-by {
  margin-bottom: -45px;
  background-color: $color-white;
  border-top: 1px solid $landing-organization-color;

  h4 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 22px;
    color: $color-primary;
  }
}
