/* Press */

h1 {
  font-family: "Korolev-Light";
  font-weight: 600;
  margin-bottom: 40px;
}

.press-content span {
  font-size: 17px;
  font-family: "Korolev-Light";
}

.press-container {
  position: relative;
  width: 100%;
  height: 270px;
  overflow: hidden;
  background: #548;
}

.press-content {
  padding-top: 51px;
  text-align: center;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

  .press-content h2 {
    font-size: 45px;
  }

  .press-content h3 {
    font-size: 17px;
    font-family: "Korolev-Light";
  }

  .press-content span {
    font-size: 17px;
    font-family: "Korolev-Medium";
  }

.press-company {
  text-decoration: none;
  color: gray;
  float: right;
}

.container {
  text-align: center;
}

.wrapper {
  margin: 0 auto !important;
}

.sub-wrapper {
  margin: 45px 0;
}

.image-container {
  transition: 0.5s ease;
  margin-top: 35px;
}

.all-items {
  margin-bottom: 50px;
}

.images-column .image-container div:nth-child(2):hover {
  opacity: 0.5;
  cursor: pointer;
}

.founders {
  background-image: url(/images/press/founders.png);
  background-position-y: -18px;
}

.fox {
  background-image: url(/images/press/logo/small-fox.png);
  background-position-y: -17px;
}

.diff {
  background-image: url(/images/press/screenshots/diff_view_small.png);
  background-position-y: -4px;
}

.file {
  background-image: url(/images/press/screenshots/file_view_small.png);
  background-position-y: -4px;
}

.network-graph {
   background-image: url(/images/press/screenshots/network_graph_small.png);
  background-position-y: -4px; 
}

.wordmark {
  background-image: url(/images/press/wordmark/wordmark.png);
  background-position-y: 6px;
}

.image {
overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 40px;
  margin: 0 36px 3px 95px;
  width: 170px;
  float: left;
  border-right: 1px solid #548;
  border-left: 1px solid #548;
  border-top: 1px solid #548;
  border-radius: 2px;
}

.blog_twitter_row {
  margin: 55px 0;
}

.recent-blog a:first-child {
  background: #548;
  color: white;
  transition: 0.2s ease;
  font-size: 17px;
}

.recent-blog a:first-child:hover {
  background: #549;
  color: white;
}

.recent-blog a:nth-child(2) {
  background: #55ACEE;
  font-size: 17px;
  color: white;
}

.press-image {
  display: inline-block;
  width: 30%;
  padding-right: 40px;
  font-family: "Korolev-Light";
}

  .press-image img {
    -webkit-filter: grayscale(85%);
    -moz-filter: grayscale(85%);
    -ms-filter: grayscale(85%);
    -o-filter: grayscale(85%);
    filter: grayscale(85%);
    filter: filter: grayscale(85%);
    filter: gray;
    transition: 0.2s ease;
  }

    .press-image img:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
      filter: none; /* Firefox 4+ */
      filter: none; /* IE 6-9 */
    }  

.press-text {
  text-align: left;
  margin: 0 0 18px 0;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.article-title {
  color: black;
  font-family: "Korolev-Light";
  font-size: 18px;
}

.image-container .text {
  margin-bottom: 9px;
}

.image-container .text span {
  font-size: 19px;
  font-family: "Korolev-Light";
}

.image-container .text p {
  color: #aaa;
  margin: 0;
  font-size: 11px;
  margin-bottom: 7px;;
}

.download a {
  background: white;
  border: 1px solid #548;
  padding: 9px 24px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: black;
  transition: 0.3s ease;
}

.multi-button a {
  color: black;
}

.multi-button .btn {
  transition: 0.3s ease;
  margin: -4px 9px 8px 0px;
}

  .multi-button .btn:hover {
    background: #f5f5f5;
    color: white;
  }

    .multi-button div:first-child {
      margin-left: 9px;
      border: 1px solid #548;
      border-top-left-radius: 0;
    }

    .multi-button div:nth-child(2) {
      border-left: 1px solid #548;
      border-top-right-radius: 0;
      border: 1px solid #548;
    }

    .multi-button div:nth-child(3) {
      display: block;
      margin: -3px 95px;
      border: 1px solid #548;
     }

  .images-column .btn-group>.btn:first-child:hover {
    background: #548;
    color: white;    
  }

  .download a:hover {
    background: #548;
    color: white;
  }

.images-column .btn-group>.btn:first-child {
  border: 1px solid #548;
  margin-top: -5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 6px 49px;
  margin-left: 1px;
}

.dropdown-menu > li > a {
  text-align: left;
}

.press-see-more {
  margin-bottom: 46px;
}

  .press-see-more a {
    font-family: "Korolev-Light";
    font-weight: 600;
    color: black;
    text-decoration: underline;
    font-size: 20px;
  }

.recent-podcasts {
  margin-bottom: 45px;
}

.podcast-item {
  margin-bottom: 15px;
}

.investors .press-image img {
  width: 281px;
}

.footer, .wrapper:after {
  height: auto;
}
