/* Press */

h1 {
  font-family: "Korolev-Light";
  font-weight: 600;
  margin-bottom: 40px;
}

.press-container {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  background: #548;
}

.press-content {
  padding-top: 76px;
  text-align: center;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.container {
  text-align: center;
}

.press-image {
  display: inline-block;
  width: 30%;
  padding-right: 40px;
  font-family: "Korolev-Light";
}

  .press-image img {
    -webkit-filter: grayscale(85%);
    -moz-filter: grayscale(85%);
    -ms-filter: grayscale(85%);
    -o-filter: grayscale(85%);
    filter: grayscale(85%);
    filter: filter: grayscale(85%);
    filter: gray;
    transition: 0.2s ease;
  }

    .press-image img:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
      filter: none; /* Firefox 4+ */
      filter: none; /* IE 6-9 */
    }  

.press-text {
  text-align: left;
  margin: 0 0 18px 0;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.article-title {
  color: black;
  font-size: 18px;
}

.item {
  margin-bottom: 8px;
}


.podcast-item {
  margin-bottom: 15px;
}
