@import "variables";

.title {
  font-size: 30px;
  text-transform: uppercase;
  color: $color-white;
  margin-top: 100px;
  text-align: center;
  font-weight: 200;
}

.release-manager-badge {
  margin: auto;
  text-align: center;

  img {
    display: inline-block;
  }
}

.description {
  text-align: center;
  color: $color-white;
  margin-bottom: 20px;
}

.release-manager-list {
  background: $release-manager-list-bg;
  margin: auto;
  color: $color-white;
  padding: 10px 15px;
  margin-bottom: 60px;
  box-shadow: 0 5px 3px rgba($color-dark, .1);
}

.table > thead > th {
  border-bottom: 1px solid $release-manager-table-border;
  color: $release-manager-table-header-color;
}

.table > tbody > td {
  border-color: $release-manager-table-border;
}

.table .upcoming-release-manager {
  background-color: $release-manager-current-table-data-color;
  color: $color-dark;
}
