@import "variables";
@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bootstrap/bootstrap/mixins";

$badge-color-ce: #5aab6e;
$badge-color-ees: #51a7e0;
$badge-color-eep: #0976bc;

@mixin badge($badge-color) {
  background-color: $badge-color;
  color: $color-white;
  padding: 2px 8px 4px;
  border-radius: 3px;
  font-size: 18px;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.blog {
  .wrapper {
    max-width: none;

    &.body {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.article {
    h1 {
      font-weight: 400;
      font-size: 40px;
    }

    .cover {
      height: 550px;
    }

    .overlay {
      background: linear-gradient(to bottom, transparent, rgba($color-white, 1));
    }

    .header {
      color: $color-dark;
      text-align: center;
    }

    .author a,
    .author-twitter i,
    .author-gitlab i {
      color: $color-dark;
    }

    .comments,
    .signup {
      max-width: 900px;
    }
  }

  .pager {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.release-number {
  color: $color-white;
  font-size: 210px;

  @media (max-width: $screen-md-max) {
    font-size: 130px;
  }
}

.release-post-section {
  max-width: 990px;
  padding: 0 16px;
  margin: 0 auto 90px;
}

.header-link {
  padding: 0 12px;
  position: relative;
  margin-left: -37px;
  bottom: 2px;

  &::before {
    font-family: FontAwesome;
    content: "\f0c1";
    font-weight: 200;
    font-size: 14px;
    opacity: 0;
    color: $color-dark;
  }

  &:hover {
    color: $color-primary-alt;
    text-decoration: none;
  }
}

h2,
h3,
.header-link {
  &:hover {
    .header-link::before {
      opacity: 1;
    }
  }
}

.gray-section {
  background-color: $body-bg;
  border-top: 1px solid $landing-organization-color;
  border-bottom: 1px solid $landing-organization-color;
  padding: 20px 0;
}

.mvp {
  text-align: center;
  margin-bottom: 90px;

  .release-post-section {
    margin-bottom: 0;
  }

  img {
    height: 200px;
    width: auto;
  }
}

.ce {
  @include badge($badge-color-ce);
}

.ee {
  @include badge($badge-color-ees);
}

.ees {
  @include badge($badge-color-ees);
}

.eep {
  @include badge($badge-color-eep);
}

.release-row {
  @include make-row();
  max-width: 1300px;
  margin: 0 auto 40px;

  .column {
    @include make-lg-column(6);
    padding: 0 30px;

    @media (max-width: $screen-sm-max) {
      padding: 0 15px;
    }
  }

  &.image-left {
    .image-column {
      @include make-lg-column-pull(6);
    }

    .text-column {
      @include make-lg-column-push(6);
    }
  }
}

.other-improvements {
  > h2 {
    margin-left: 30px;

    @media (max-width: $screen-sm-max) {
      margin-left: 15px;
    }
  }

  h3 {
    margin-top: 50px;
  }
}

.changelog {
  margin: 70px 0;
}
