
.container {
  max-width: 1680px;
  margin: auto;

  @media (min-width: 1333px) {
    width: 90vw;
  }

  @media (min-width: 769px) and (max-width: 992px) {
    width: 90vw;
  }
}

.blog.article {
  .cover {
    height: 100vh;

    .overlay {
      background: linear-gradient(0deg, white 35%, rgba(255, 255, 255, 0) 55%);
      border-bottom: none;
      height: 100vh;

      .wrapper.header {
        max-width: none;
        padding: 10vh 20% 0;
        text-align: center;
        color: #5a82ae;
        color: #333;

        .date,
        .author {
          font-weight: normal;
        }

        .author-gitlab i,
        .author-twitter i {
          color: #5a82ae;
          color: #333;
        }

        @media (max-width: 768px) {
          padding: 10vh 10% 0;
        }

        @media (min-width: 1200px) {
          span:nth-child(-n+3) {
            font-size: 26px
          }
        }

        .release-number {
          font-size: 35vh; // 284px
          color: white;
          display: block;
          text-align: center;
          text-align: center;
          line-height: 1.2;

          @media (max-width: 1200px) {
            font-size: 30vh;
          }

          @media (max-width: 768px) {
            font-size: 30vw;
          }

          @media (max-width: 510px) {
            font-size: 150px;
          }
        }

        h1 {
          text-align: center;
          font-weight: 300;
          font-size: 8vh; // 66px
          line-height: 1.25;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
          top: 60%;
          color: #333;

          @media (max-width: 1200px) {
            font-size: 6vh;
          }

          @media (max-width: 768px) {
            font-size: 7vw;
          }

          @media (max-width: 510px) {
            font-size: 32px;
            width: 90%;
          }
        }

        .description {
          top: 90%;
          color: #333;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          width: 60%;

          @media (max-width: 1200px) {
            top: 81%;
          }

          @media (max-width: 768px) {
            width: 80%;
          }

          @media (max-width: 510px) {
            font-size: 18px;
            text-align: left;
            width: 90%;
            display: none;
          }
        }
      }
    }
  }
  .wrapper.body {
    max-width: none;
    padding: 5% 5% 0;

    .content {
      max-width: 1680px;
      margin: auto;
    }

    .social {
      padding: 15px 0 50px;
    }
  }

  .signup {
    max-width: none;

    .panel {
      padding: 0 5% 0;
      box-shadow: inset 0 50px 0 0 whitesmoke, inset 0 51px 0 0 #dddddd;

      @media (max-width: 768px) {
        padding: 0 15px 0 !important;
      }

      .panel-body,
      .panel-heading {
        max-width: 1680px;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

h2 {
  font-size: 44px;
  font-weight: normal !important;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.36em !important;

  @media (max-width: 1024px) {
    // flex-direction: column;
    align-items: center;
  }
}

.ce:before {
  content: 'CE';
  color: #FFFFFF;
  background: #5aab6e;
  order: 1;

  // float: left;
  font-size: .68em;
  padding: .3em .4em;
  border-radius: 3px;
  margin-left: 10px;
  font-weight: 600;
  height: 50px;
  width: 56px;
}

.ee:before {
  @extend .ce:before;
  content: 'EE';
  background: #51a7e0;
}

.ce-ee:before {
  @extend .ce:before;
}

.ce-ee:after {
  @extend .ee:before;
}

.figcaption {
  font-style: italic;
}

.left,
.right {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: justify;
  margin-right: -4px;
  margin-bottom: 100px;

  @media (max-width: 1024px) {
    display: block;
    margin: auto;
    padding: 0 !important;
    width: 80%;
    max-width: 900px;

    h2{
      justify-content: center !important;
      text-align: center;
    }

    img {
      width: 125%;
      max-width: none;
      margin: 50px 0;
      margin-left: -12.5%;

      @media (max-width: 768px) {
        width: 100%;
        margin: 0;
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  h2 {
    justify-content: flex-start;
    text-align: left;
  }
}

.left {
  padding: 0 5% 0 0;

  p:first-child {
    margin-top: 0 !important;
  }
}

.right {
  padding: 0;
}

.middle {
  text-align: justify;
  width: 80%;
  max-width: 900px;
  margin: auto;
  margin-bottom: 100px;

  @media (max-width: 768px) {
    width: 100%;
  }

  h2{
    justify-content: center;
    text-align: center;
  }

  img {
    width: 125%;
    max-width: none;
    margin: 50px 0;
    margin-left: -12.5%;

    @media (max-width: 768px) {
      width: 100%;
      margin: 0;
    }
  }
}

.mvp {
  text-align: center;
  // color: white;
  padding: 50px 15px;
  background: #f9f9f9;
  margin: 0 auto 150px !important;
  max-width: 1680px;
  // border-left: 5px solid #00bcf2;
  // background-color: #eff6fb;
  font-size: 26px;
}

.vertical-align-top {
  vertical-align: top;
}
