// Reusable styles for 'sandwich'-like layouts, as seen on /features and /gitlab-ee

@import "vendor/bootstrap/bootstrap/variables";
@import "variables";


// THEMES

.sandwich-page-layout {
  font-family: $font-family-sans-serif;

  %generic-theme-styles {
    .section-title {
      text-align: center;
      margin-bottom: 40px;
      font-weight: 300;
      font-size: 24px;
    }

    .section-description {
      margin-bottom: 20px;
      text-align: center;
      font-weight: 300;
      font-size: 18px;
    }

    .section-title-xl {
      margin-bottom: 10px;
      text-align: center;
      font-size: 36px;
      font-weight: 300;
    }

    .section-description-xl {
      margin-bottom: 100px;
      text-align: center;
      font-size: 24px;
      font-weight: 300;
    }

    p {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .brand-primary-background-theme {
    @extend %generic-theme-styles;
    background: $ee-standalone-primary-background-gradient;

    .section-title {
      color: $color-secondary-alt;
    }

    .section-description {
      color: $color-white;
    }

    .feature-tree-title {
      color: $color-secondary-alt;
    }

    .feature-tree-description {
      color: $color-white;
    }

    .feature-gallery {
      .feature-title {
        color: $color-secondary-alt;
      }

      .feature-description {
        color: $color-white;
      }
    }

    .feature-select-zone {
      &.selected {
        background: $color-gray-extra-light;
      }

      &:hover {
        background: $color-gray-extra-light;
      }
    }

    .media-heading {
      color: $color-white;
    }

    .media-body {
      color: $color-white-alt;
    }

    .media-object {
      color: $color-secondary-alt;
      fill: $color-secondary-alt;
    }
  }

  .no-background-color-theme {
    @extend %generic-theme-styles;
    background-color: $color-white;

    .section-title {
      color: $color-secondary;
    }

    .section-title-xl {
      color: $color-primary;
    }

    .section-subtitle-xl {
      color: $color-gray;
    }

    .section-description {
      color: $color-primary;
    }

    .feature-tree-title {
      color: $color-secondary-alt;
    }

    .feature-tree-description {
      color: $color-primary;
    }

    .feature-gallery {

      .feature-title {
        color: $color-secondary;
      }

      .feature-description {
        color: $color-primary;
      }
    }

    .feature-select-zone {
      &.selected {
        background: lighten($color-gray-extra-light, 5%);
      }

      &:hover {
        background: lighten($color-gray-extra-light, 6%);
      }
    }

    .media-heading {
      color: $color-primary;
    }

    .media-body {
      color: $blog-text-color;
    }

    .media-object {
      color: $color-secondary;
      fill: $color-secondary;
    }
  }
  // SECTION TYPES
  section {
    padding: 60px 0 80px;
  }

  // Top-Nav section
  .navbar-default {
    background-color: $color-primary-alt;
    font-size: 16px;
    margin: 50px 0 0;
    min-height: 0;
    border: 0;
    border-radius: 0;
    text-align: center;
  }

  .nav.navbar-nav {
    margin: 0 auto;
    display: inline-block;
    float: none;

    a {
      font-size: 15px;
      padding: 10px 25px 5px;
      color: $color-white;
      font-weight: bold;

      &:hover {
        color: $color-white-alt;
      }
    }
  }

  // Hero Section

  .hero-section {
    position: relative;
    padding: 80px 0 160px;
    background: url("/images/feature_page/hero-background-overlay-features-page-v2.jpg") center center no-repeat;
    background-size: cover;

    @media(max-width: $screen-sm-max) {
      padding: 80px 0 0;
    }
  }

  .hero-image-wrap {
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    background-color: $landing-community-bg;

    &::after {
      background-image: $ee-standalone-hero-background-gradient;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .hero-icon {
      z-index: 10000;
      position: absolute;
      bottom: 0;
    }
  }

  .hero-content-wrap {
    position: relative;
    z-index: 9;
    padding-bottom: 30px;

    .page-headline {
      font-weight: 300;
      text-align: center;
    }

    .page-subtitle {
      margin-bottom: 60px;
      font-weight: 300;
      text-align: center;
      line-height: 60px;
      color: $color-gray;
    }
  }

  // Feature Tree

  .feature-tree {
    .feature-tree-row {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-top: 50px;
    }
  }

  // Feature Gallery

  .feature-gallery {
    margin-bottom: 40px;

    .feature-list {
      margin-bottom: 90px;
      padding: 0 20px;

      @media(max-width: $screen-sm-max) {
        margin-bottom: 0;
      }
    }

    .feature-select-zone {
      max-height: 180px;
      padding: 30px 50px;
      text-align: center;
      list-style-type: none;
    }

    .feature-title {
      font-size: 24px;
      font-weight: 300px;
    }

    .feature-description {
      font-size: 18px;
      font-weight: 300;
    }
  }

  .selected-feature-image-wrap {
    margin-bottom: 60px;

    img {
      display: none;

      &.selected {
        display: block;
      }
    }
  }

  // Feature Cluster Row

  .feature-cluster-row {
    margin-top: 50px;

    .media {
      @media(max-width: $screen-sm-max) {
        height: 100px;
      }
    }

    .media-heading {
      margin-top: 0;
    }

    .media-object {
      height: 32px;
      width: 32px;
    }
  }

  // Call to action section
  .cta-btn {
    padding: 0 15px;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    margin: 40px auto 0;
  }
}
