/* Sticky Footer */

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -255px;
}

.wrapper:after {
  content: "";
  display: block;
}
.footer, .wrapper:after {
  height: 255px;
}
