/* Team */

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}

h2, h3, h4 {
  font-weight: 400;
}

h1 small {
  font-weight: 300;
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 80px;
}

.btn {
  min-width: 150px;
}

.listing .btn-group-vertical {
  margin-top: 15px;
}

.header-text {
  padding-top: 175px;
  text-align: center;
  max-width: 540px;
  margin: 80px auto;
  margin-top: 0px;
}

.header-text h1 {
  font-weight: 200;
  color: #fff;
  font-size: 50px;
}

.header-text p {
  font-size: 20px;
  color: #A69EBD;
}

.image-title {
  background: url(/images/ggbridge.jpg);
  background-size: 100%;
}

.image-title .color-bg {
  text-align: center;
  padding-bottom: 4%;
  height: 100%;
  width: 100%;
  margin-top: -1px;
  background-image: linear-gradient(to bottom, rgba(85,68,136,1.0) 0%,rgba(85,68,136,0.85) 99%,rgba(85,68,136,0.79) 100%)
}

.wrapper {
  min-height: 0;
  margin: 0 auto;
}

  .wrapper:after {
    height: 0;
}

.sub-wrapper {
    background: #f5f5f5;
}

.sub-wrapper {
  font-size: 17px;
  font-weight: 200;
}

.maps div:nth-child(3) {
  margin-top: 2%;
  width: 446px;
}

.maps div:nth-child(3) img {
  width: 430px;
  position: absolute;
}

.maps div:nth-child(3) p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 6em;
  font-weight: 100;
  float: right;
  margin-top: 20px;
}

.tabbed-text {
  padding-left: 30px;
}
