---
layout: default
title: GitLab High Availability
---
.container
  .row
    .col-sm-8.col-sm-offset-2
      = partial('includes/ha/gitlab-ha.md')
      %p
        Download as
        %a{href: 'gitlab-ha.pdf'}
          PDF
