= wrap_layout :markdown_page do
  = yield

  - if job = job_for_current_page
    :markdown
      Avoid the [confidence gap](http://www.theatlantic.com/magazine/archive/2014/05/the-confidence-gap/359815/); you do not have to match all the listed requirements exactly to apply!

      Work remotely from anywhere in the world. Curious to see what that looks
      like? Check out our [remote manifesto](/2015/04/08/the-remote-manifesto/).

    = link_to("Apply", job.apply, class: 'btn btn-purple')
