.add-options-buttons.text-center
  .container
    .row
      .customer-block.col-xs-12.col-sm-4
        %h4 Already a GitLab Enterprise Edition customer?
        %a.btn.featured-item-button.btn-margin-top{ href: data.pricing.payment_url } Add #{feature_name}
      .customer-block.col-xs-12.col-sm-4
        %h4 Not a GitLab Enterprise Edition customer?
        %a.btn.featured-item-button.btn-margin-top{ href: "/free-trial/" } Try it risk-free for 30 days
      .customer-block.col-xs-12.col-sm-4
        %h4 Have more questions?
        %a.btn.featured-item-button.btn-margin-top{href: "https://about.gitlab.com/sales/"} Contact sales
