- data.features.each do |feature_block|
  .panel.panel-success
    .panel-heading
      %h2.panel-title
        = feature_block.title
    %table.table.compare-table
      %thead
        %tr
          %th
          %th.ce-col Community Edition
          %th.ee-col Enterprise Edition
      %tbody.header.first
        - feature_block.features.each do |feature|
          %tr
            %td
              %a{href: feature.link}
                = feature.description
            %td.ce-col.text-center
              - if feature.in_ce
                %i.fa.fa-check
            %td.ee-col.text-center
              %i.fa.fa-check
