---
layout: default
title: GitLab Community Edition features
---
.container
  .col-sm-12
    .alert.alert-info
      Check out the
      %a{href: "https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CHANGELOG.md"} CHANGELOG
      for the latest changes or
      %a{href: "/features/#enterprise"} GitLab Enterprise Edition
      which includes even more features
  .col-md-6
    %ul.feature-list.list-group
      %li.list-group-item Unified and side-by-side diffs
      %li.list-group-item Merge requests for code review
      %li.list-group-item Line specific comments
      %li.list-group-item Issues with attachments
      %li.list-group-item Issue labels and assignments
      %li.list-group-item Issue milestones / sprints
      %li.list-group-item Link to an external issue tracker
      %li.list-group-item Activity feed per project
      %li.list-group-item User dashboard with filters
      %li.list-group-item Comprehensive activity feed
      %li.list-group-item A wiki which is stored in git
      %li.list-group-item Code snippets
      %li.list-group-item Branches and a network graph
      %li.list-group-item Unique permission levels per user and project (guest, reporter, developer, master, owner)
      %li.list-group-item Protected branches (only masters can push to protected branches)
      %li.list-group-item Forking of repos
      %li.list-group-item Merge requests between forks
  .col-md-6
    %li.list-group-item Groups consisting of multiple people with a shared namespace for projects
    %li.list-group-item Multiple deploy keys are possible for the same project
    %li.list-group-item Multiple projects are possible for the same deploy key
    %li.list-group-item Global and per project notification settings
    %li.list-group-item Http(s) and ssh git access
    %li.list-group-item LDAP user authentication (also compatible with Active Directory)
    %li.list-group-item
      Single Sign On (SSO) support via
      %a{href: "https://github.com/intridea/omniauth/wiki/List-of-Strategies#developer-strategies"} Omniauth strategies
    %li.list-group-item Webhooks
    %li.list-group-item Convenient backups
    %li.list-group-item Administrative interface
    %li.list-group-item Web based editor
    %li.list-group-item Code search
    %li.list-group-item Runs on physical and virtual machines
    %li.list-group-item
      %a{href: "https://about.gitlab.com/high-availability/"} High availability / clustering / scale out
    %li.list-group-item Access to the source code
    %li.list-group-item Broadcast messages
