%section.page-container.feature-gallery.text-center.animated.brand-primary-background-theme
  .container.titles
    %h1
      Powerful features for modern software development
    %h2
      Tightly integrated into one platform.
    %h3
      Consolidate your source code
    %h4
      Wrangle your projects into one easy-to-manage tool.
    .row
      .feature-gallery-slick-container
        #feature-gallery-slider.main-slider-size
          = image_tag 'images/feature_page/screenshots/01-projects.png'
          = image_tag 'images/feature_page/screenshots/02-user-roles.png'
          = image_tag 'images/feature_page/screenshots/03-gitlab-pages.png'
        .row.slider-dots.slider-nav
          .col-md-4.feature-slider-dot-content{index: "0"}
            %div
              %h4
                Projects
              %p
                Organize your repository into private, internal, or public projects.
          .col-md-4.feature-slider-dot-content{index: "1"}
            %div
              %h4
                User roles
              %p
                Manage access and permissions with five different user roles and settings for external users.
          .col-md-4.feature-slider-dot-content{index: "2"}
            %div
              %h4
                %a{href: "http://pages.gitlab.io/"}
                  GitLab Pages
              %p
                Create websites for your GitLab projects, groups, or user accounts.
    .feature-cluster-row
      .media
        .media-left
          =icon("features/icon-01-repos")
        .media-body
          %h4.media-heading Unlimited public and private repos
          Create a new repo for even the smallest projects.
      .media
        .media-left
          =icon("features/icon-02-project-importing")
        .media-body
          %h4.media-heading Project importing
          Import existing projects from GitHub, BitBucket, Google Code, Fogbugz, or any git repo with a URL.
      .media
        .media-left
          =icon("features/icon-03-protected-branches")
        .media-body
          %h4.media-heading Protected branches
          Control read/write permissions to specific branches.
    .feature-cluster-row
      .media
        .media-left
          =icon("features/icon-04-wiki")
        .media-body
          %h4.media-heading Wiki
          Keep your documentation within the project using GitLab’s built-in wiki system.
      .media
        .media-left
          =icon("features/icon-05-code-snippets")
        .media-body
          %h4.media-heading Code Snippets
          Collect and share reusable code.
      .media
        .media-left
          =icon("features/icon-06-powerful-apis")
        .media-body
          %h4.media-heading Powerful APIs
          Control GitLab with a set of powerful APIs.
