/Second features block
%section.no-background-color-theme.page-container.feature-gallery.feature-gallery-alt.text-center.animated
  .container.titles
    %h3
      Track and manage releases
    %h4
      Ease the collaboration process with a single tool to track issues and monitor progress on your releases.
    .row
      .feature-gallery-slick-container
        /Gallery will be here
        #feature-gallery-slider-1.main-slider-size
          = image_tag 'images/feature_page/screenshots/04-issues.png'
          = image_tag 'images/feature_page/screenshots/05-issue-boards.png'
          = image_tag 'images/feature_page/screenshots/06-todos.png'
        .row.slider-dots.slider-nav-1
          .col-md-4.feature-slider-dot-content{index:"0"}
            %div
              %h4
                Issues
              %p
                Leverage GitLab’s built-in issue tracker to outline and share ideas.
          .col-md-4.feature-slider-dot-content{index:"1"}
            %div
              %h4
                %a{href:"https://about.gitlab.com/solutions/issueboard/"}
                  Issue Board
              %p
                Plan, organize, and visualize your release with a kanban-style board.
          .col-md-4.feature-slider-dot-content{index:"2"}
            %div
              %h4
                Todos
              %p
                View a simple dashboard with a chronological list of todos so you know what needs your attention.
 
    .feature-cluster-row
      .media
        .media-left
          =icon("features/icon-07-issues-mr-templates")
        .media-body
          %h4.media-heading Issue and MR Templates
          Create templates for issues and merge requests.
      .media
        .media-left
          =icon("features/icon-08-milestones")
        .media-body
          %h4.media-heading Milestones
          Organize issues and merge requests into groups.
      .media
        .media-left
          =icon("features/icon-09-labels")
        .media-body
          %h4.media-heading Labels
          Categorize and track issues or merge requests based on descriptive titles.
    .feature-cluster-row
      .media
        .media-left
          =icon("features/icon-10-todos")
        .media-body
          %h4.media-heading  External Services
          Integrate with 24 external services (such as JIRA, Slack, Asana and more) to track progress across all the tools your team uses.
      .media
        .media-left
          =icon("features/icon-11-due-dates")
        .media-body
          %h4.media-heading Due dates
          Assign due dates to issues to make sure things get done on time.
      .media
        .media-left
          =icon("features/icon-06-powerful-apis")
        .media-body
          %h4.media-heading Powerful search
          Spend less time searching and more time building software.
