/Third features container
%section.page-container.feature-gallery.text-center.animated.brand-primary-background-theme
  .container.titles
    %h3
      Increase code quality
    %h4
      Code collaboratively and trust your code review with fast branching and powerful diff tools.
    .row
      .feature-gallery-slick-container
        /Gallery will be here
        #feature-gallery-slider-2.main-slider-size
          = image_tag 'images/feature_page/screenshots/07-merge-requests.png'
          = image_tag 'images/feature_page/screenshots/08-merge-conflicts.png'
          = image_tag 'images/feature_page/screenshots/09-gitlab-ci.png'
        .row.slider-dots.slider-nav-2
          .col-md-4.feature-slider-dot-content{index:"0"}
            %div
              %h4
                Merge Requests
              %p
                Create merge requests and @mention team members to review and safely merge your changes.
          .col-md-4.feature-slider-dot-content{index:"1"}
            %div
              %h4
                Resolve merge conflicts in UI
              %p
                Preview merge conflicts in the UI and tell git which version to track.
          .col-md-4.feature-slider-dot-content{index:"2"}
            %div
              %h4
                %a{href:"https://about.gitlab.com/gitlab-ci"}
                  GitLab CI
              %p
                Test every merge request. Run multiple jobs in parallel and see if your build passes with GitLab’s built-in CI.
  
    .feature-cluster-row
      .media
        .media-left
          =icon("features/icon-13-mr-versions")
        .media-body
          %h4.media-heading  Merge request versions
          View and compare merge request diffs from the UI.
      .media
        .media-left
          =icon("features/icon-14-inline-commenting")
        .media-body
          %h4.media-heading Inline commenting and resolution
          Leave comments and resolve discussions on specific lines of code.
      .media
        .media-left
          =icon("features/icon-15-cherry-pick")
        .media-body
          %h4.media-heading Cherry-pick changes
          Use the cherry-pick button in the UI to isolate specific changes from a merge request.