%section.no-background-color-theme.page-container.gitlab-version-section.text-center.animated
  .container
    %h1
      Choose the version of GitLab that is best for you

    %h4
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/products"}
      Explore our products
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/products"}
      Explore
