%div.comparison-tree-nav-wrap.col-sm-6.col-md-4
  %ul.comparison-tree-nav
    %li   
      %h4 Index
    %li
      = highlight_active_nav_link('Bias', "/comparison/bias.html")
    %li
      %a{:href => "/comparison/open-core.html"} Open-Core
    %li
      %a{:href => "/comparison/gitlab-ce-vs-gitlab-ee.html"} GitLab CE vs. GitLab EE
    %li
      %a{:href => "/comparison/gitlab-vs-github.html"} GitLab vs. GitHub
    %li
      %a{:href => "/comparison/gitlab-ee-vs-github-enterprise.html"} GitLab EE vs. GitHub Enterprise
    %li
      %a{:href => "/comparison/gitlabcom-vs-githubcom.html"} GitLab.com vs. GitHub.com
    %li
      %a{:href => "/comparison/gitlab-ce-ee-vs-bitbucket-server.html"} GitLab CE/EE vs. Bitbucket Server
    %li
      %a{:href => "/comparison/gitlabcom-vs-bitbucketorg.html"} GitLab.com vs. Bitbucket.org
    %li
      %a{:href => "/comparison/gitlab-ce-ee-vs-saas.html"} GitLab CE/EE vs. SaaS
    %li
      %a{:href => "/comparison/gitlab-vs-svn.html"} GitLab vs. SVN
    %li
      %a{:href => "/comparison/gitlab-vs-gitswarm.html"} GitLab vs. GitSwarm