.download-partial.hidden-xs
  Install GitLab on your own server in 2 minutes
  %a#dl-partial{href: "/downloads"}
    Let's do it!
%a#dl-partial-sm.btn.btn-block.btn-lg.btn-purple.install-gitlab-btn.visible-xs{href: "/downloads"}
  Install GitLab on your own server in 2 minutes
