- current_page.data.extra_css ||= []
- current_page.data.extra_css += ['salary-calculator.css']

- current_page.data.extra_js ||= []
- current_page.data.extra_js += ['salary-calculator.js']

- if data.payscale.select{|p| p.title.downcase == title.downcase }.length === 1
  .salary-container.col-xs-12{data: {title: title}}
    %h2 Estimate your salary
    .col-sm-8
      .col-sm-6
        .dropdown.experience
          %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.title Experience in your level
            %span.subtitle
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
            %li
              %span.key Show range
              %span.value 0.8 - 1.2
            %li
              %span.key Low
              %span.value 0.8
            %li
              %span.key Medium
              %span.value 1.0
            %li
              %span.key High
              %span.value 1.2
      .col-sm-6
        .dropdown.level
          %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.title Level
            %span.subtitle
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
            %li
              %span.key Junior
              %span.value 0.0
            %li
              %span.key Intermediate
              %span.value 1.0
            %li
              %span.key Senior
              %span.value 2.0
            %li
              %span.key Lead
              %span.value 3.0
      .col-sm-6
        .dropdown.country
          %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.title Country
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
            - data.numbeo.uniq(&:country).sort_by(&:country).each do |p|
              %li
                %span.key= p.country
      .col-sm-6
        .dropdown.city
          %button.dropdown-menu-toggle.disabled.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.title City
            %span.subtitle
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
            - data.numbeo.sort_by(&:city).each do |p|
              %li.hidden{'data-country' => p.country}
                %span.key= p.city
                %span.display-value= (p.rentIndex*0.01).round(2)
      .col-sm-12
        Learn about our contract types. We expect you will be
        %span.contract-type-container
          %span.grammer a
          %strong.contract-type contractor
          at GitLab
          %span.company-type BV.
    .compensation.col-sm-4
      .title Estimated Compensation
      .amount --
