<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span4">		
        <h3>Company</h3>
        <ul class="animated">
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/about/">About Us</a></li>
          <!-- <li><a href="/jobs/">Jobs</a></li> -->
          <li><a href="/privacy/">Privacy Policy</a></li>
          <li><a href="/terms/">Terms</a></li>
          <li><a href="/press/">Press</a></li>
          <li><a href="/dmca/">DMCA Policy</a></li>
          <li><a href="/disclosure/">Responsible Disclosure Policy</a></li>			  
        </ul>	
      </div>
      <div class="span4">
        <h3>Contact</h3>
        <ul class="animated">
          <div class="footer_text"><li><a href="mailto:support@gitlab.com">Email support@gitlab.com</a></li>
            <li><a href="https://twitter.com/git_lab">Twitter @git_lab</a></li>
            <li>&nbsp;</li>
            <li>GitLab.com<br />Attn. Sytse Sijbrandij<br />Ondiep 108<br />3552EK Utrecht<br />The Netherlands</li></div>
        </ul>		  
      </div>
      <div class="span4">
        <h3>Subscribe</h3>
        <p>Subscribe to our newsletter and stay up to date with the latest news</p>		

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="http://gitlab.us5.list-manage.com/subscribe/post?u=498dccd07cf3e9482bee33ba4&amp;id=98a9a4992c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Your Email Address:
              </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div> 
            </div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
          </form>
        </div>
        <!--End mc_embed_signup-->			

      </div>		  
    </div>	  
  </div>	  
</div>
