<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GitLab.com | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/glyphicons.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/blue.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37019925-1']);
      _gaq.push(['_setDomainName', 'gitlab.com']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>

  </head>  
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>		
          {% if page.blog_index %}
            <a class="brand" href="/blog/">GitLab.com Blog</a>
          {% else %}
            <a class="brand" href="/">GitLab.com</a>
          {% endif %}
          <div class="nav-collapse collapse">
            <ul class="nav pull-right animated">
              <li><a href="/">Home</a></li>
              <li><a href="/subscription/">Subscription</a></li>
              <li><a href="/consultancy/">Consultancy</a></li>
              <li><a href="/cloud/">Cloud</a></li>      				
              <li><a href="https://gitlab.com/users/sign_in">Sign in</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% unless page.suppress_header %}
    <div id="header">
      <div class="container">  
        <div class="row">
          <div class="span12">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>
    {% endunless %}

    {{ content }}

    {% include footer.html %}

    {% include scripts.html %}
  </body>
</html>
