---
layout: subscription
title: Standard Subscription
---
<script>
$(function(){
  var subdomain = '<%= @subdomain %>';
  var currency = '<%= @default_currency %>'
  var signature = '<%= @signature %>'
  Recurly.config({
    subdomain: subdomain,
    currency: currency
  });
  Recurly.buildSubscriptionForm({
    target: '#recurly-form',
    planCode: 'gitlab-standard-yearly-100',
    successURL: '/subscription/success',
    signature: signature
  });

});
</script>
<div id="content">
  <div class="container">
    <div class="row">
      <div class="span9">
        <div id="recurly-form"></div>
      </div>
    </div>
  </div>
</div>
