---
layout: subscription
---
<script>
$(function(){
  var subdomain = '<%= @subdomain %>';
  var currency = '<%= @default_currency %>'
  var signature = '<%= @signature %>'
  var plan_code = '<%= @plan_code %>'
  Recurly.config({
    subdomain: subdomain,
    currency: currency
  });
  Recurly.buildSubscriptionForm({
    target: '#recurly-form',
    planCode: plan_code,
    successURL: '/subscription/success',
    signature: signature,
    termsOfServiceURL: 'http://www.gitlab.com/terms/#subscription',
    privacyPolicyURL: 'http://www.gitlab.com/privacy/',
    collectCompany: true
  });

});
</script>
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9">
        <div id="recurly-form"></div>
      </div>
    </div>
  </div>
</div>
