.nav-logo {
  max-height: 44px;
  position: relative;
  top: -12px;

  .logo-svg-shape:hover {
    fill: $color-primary-alt;
  }
}

.logo-svg-shape {
  transition: all 0.8s;
}

.logo-svg-shape:hover {
  fill: #fff;
  transition: all 0.1s;
}
