//scss-lint:disable ImportantRule
.share-butons {
  font-size: 0;
  text-align: center;

  .share-btn {
    float: left;
    margin: 0 3px;
    width: 32px;
    line-height: 32px;
    color: $color-white !important;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    transition: background .15s ease;

    &.share-btn-facebook {
      background-color: $facebook-bg;
      font-size: 20px;

      &:hover {
        background-color: darken($facebook-bg, 10);
      }
    }

    &.share-btn-twitter {
      background-color: $twitter-bg;
      font-size: 22px;

      &:hover {
        background-color: darken($twitter-bg, 10);
      }
    }

    &.share-btn-google {
      background-color: $google-bg;

      &:hover {
        background-color: darken($google-bg, 10);
      }
    }
  }
}
//scss-lint:enable ImportantRule
