.testimonials
  #js-testimonials-slider.container
    - data.testimonials.each do |testimonial|
      .testimonials-item.text-center
        %a.testimonials-item-link{:href => testimonial.link}
          %img.testimonials-item-image{:alt => "", :src => testimonial.logo}
        .row
          %blockquote.col-md-8.col-md-push-2.testimonials-item-content
            = testimonial.quote
