---
layout: default
title: Documentation
suppress_header: true
extra_css:
  - documentation.css
---
.wrapper
  .documentation-container
    .documentation-overlay
      .documentation-content
        %h1 Documentation
  #content.text-center
    .container-documentation
      .row
        .col-sm-4.col-md-4
          %h2 Community Edition
          %h4
            %a{href: "http://doc.gitlab.com/ce/"} Documentation
        .col-sm-4.col-md-4
          %h2 Enterprise Edition
          %h4
            %a{href: "http://doc.gitlab.com/ee/"} Documentation
        .col-sm-4.col-md-4
          %h2 Continuous Integration
          %h4
            %a{href: "http://doc.gitlab.com/ci/"} Documentation
        .col-sm-4.col-md-4
          %h2 GitLab Shell
          %h4
            %a{href: "https://gitlab.com/gitlab-org/gitlab-shell/blob/master/README.md"} Readme
        .col-sm-4.col-md-4
          %h2 GitLab Git
          %h4
            %a{href: "https://gitlab.com/gitlab-org/gitlab_git/blob/master/README.md"} Readme
        .col-sm-4.col-md-4
          %h2 Cookbook
          %h4
            %a{href: "https://gitlab.com/gitlab-org/cookbook-omnibus-gitlab/tree/master#README"} Readme
        .col-sm-4.col-md-4
          %h2 Omnibus
          %h4
            %a{href: "https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md"} Readme
        .col-sm-4.col-md-4
          %h2 Recipes
          %h4
            %a{href: "https://gitlab.com/gitlab-org/gitlab-recipes/blob/master/README.md"} Readme
        .col-sm-4.col-md-4
          %h2 GitLab Runner
          %h4
            %a{href: "https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/blob/master/README.md"} Readme
        .col-sm-4.col-md-4
          %h2 GitLab University
          %h4
            %a{href: "https://university.gitlab.com/"} Resources
