:javascript
  var google_conversion_id = 968513482;
  var google_conversion_label = "a-CXCPqluQUQlqi33AM";
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
%script{src: "//www.googleadservices.com/pagead/conversion.js", type: "text/javascript"}
  :cdata
%noscript
  %div{style: "display:inline;"}
    %img{alt: "", height: "1", src: "//googleads.g.doubleclick.net/pagead/viewthroughconversion/968513482/?value=0&guid=ON&script=0", style: "border-style:none;", width: "1"}/
