---
layout: comparison_page
suppress_header: true
title: GitLab compared to other tools
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
---

- data.comparisons.gitlab_vs_svn do |comparison_block|
  = partial "includes/comparison_table", locals: { comparison_block: comparison_block }
