---
layout: default
title: GitLab Organization Chart
suppress_header: true
extra_css:
  - "org-chart.css"
extra_js:
  - "//www.gstatic.com/charts/loader.js"
  - "org-chart.js"
---

.page-container.org-chart-container.container
  %h3 GitLab Organization Chart
  .org-chart-div{ "data-team" => team_data.to_json }
