---
title: Join GitLab's Research Panel
suppress_header: true
extra_css:
  - landing.css
---

.landing-container.text-center
  .landing-community
  .container.splash-container
    .landing-hero.research.hidden-xs
      = partial "images/researchpanel/graphic-hero.svg"
    %h1.page-headline
      Do you want to shape the future of GitLab?
    %h2.page-subtitle
      We want your feedback on how we can continue to improve GitLab. By joining our research panel, you’ll be the first to see new features and your thoughts will drive product improvements for a better user experience.
    %a.btn.cta-btn.red{href: "https://www.surveymonkey.co.uk/r/GitLabResearchPanel"}
      Join GitLab's research panel

= partial "faq.html.haml"

.gitlab-cta-container.text-center
  .container
    %h1
      Are you ready to shape the future of GitLab?
    %a.btn.cta-btn.red{href: "https://www.surveymonkey.co.uk/r/GitLabResearchPanel"}
      Join GitLab's Research Panel
