%h4
  %a{href: "/installation/"} Alternative installation methods
%h4
  %a{href: "https://docs.gitlab.com/runner/install/"} Install GitLab Runner
%h4
  %a{href: "/update"} Update a GitLab instance
%h4
  %a{href: "/aws"} AWS AMI with a preloaded Omnibus package
%h4
  %a{href: "https://mirror.tuna.tsinghua.edu.cn/help/gitlab-ce/"} Chinese GitLab CE mirror hosted by TUNA
%h4
  %a{href: "https://docs.gitlab.com/omnibus/"} Troubleshooting and configuration options in the Omnibus documentation
%h4
  %a{href: "https://about.gitlab.com/products/#compare-options"} Compare GitLab CE with EE
