.other-downloads
  %h5
    %a{href: "https://docs.gitlab.com/omnibus/"} Troubleshooting and configuration options in the Omnibus documentation
  %h5
    %a{href: "/installation/"} Alternative installation methods
  %h5
    %a{href: "/aws"} AWS AMI with a preloaded Omnibus package
  %h5
    %a{href: "https://mirror.tuna.tsinghua.edu.cn/help/gitlab-ce/"} Chinese GitLab CE mirror hosted by TUNA
  %h5
    %a{href: "/update"} Update a GitLab instance
  %h5
    %a{href: "https://docs.gitlab.com/ce/install/requirements.html"} Installation requirements
  %h5
    %a{href: "https://docs.gitlab.com/runner/install/"} Install GitLab Runner
  %h5
    %a{href: "https://about.gitlab.com/products/#compare-options"} Compare GitLab CE with EE
