.tab{id: platform.name}
  .tab-step
    %p
      %i.fa.fa-info-circle.green
      Check if your server meets
      %a.green{:href => "http://doc.gitlab.com/ce/install/requirements.html"} the hardware requirements.
      GitLab packages are built for 64bit systems. For 32bit OS, consider
      %a.green{:href => "https://about.gitlab.com/installation/"} alternative installation methods.
  .tab-step
    %h4
      1. Install and configure the necessary dependencies
    %p
      If you install Postfix to send email please select 'Internet Site' during setup.
      Instead of using Postfix you can also use Sendmail or
      %a{:href => "https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/settings/smtp.md"}
      configure a custom SMTP server
      %a{:href => "https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/settings/smtp.md#smtp-on-localhost"}
      configure it as an SMTP server.
    %p
      On Centos 6 and 7, the commands below will also open HTTP and SSH access in the system firewall.
    %p
      %pre
        = platform.dependency_commands
        = platform.firewall_open
  .tab-step
    %h4
      2. Add the GitLab package server and install the package
    %p
      %pre
        = platform.download_command
      If you are not comfortable installing the repository through a piped script, you can find the
      %a{:href => "https://packages.gitlab.com/gitlab/gitlab-ce/install"}
      entire script here
      %a{:href => "https://packages.gitlab.com/gitlab/gitlab-ce"}
      select and download the package manually
      and install using
      %pre
        = platform.install_commands_manual
  .tab-step
    %h4
      3. Configure and start GitLab
    %p
      %pre
        sudo gitlab-ctl reconfigure
    .tab-step
      %h4
        4. Browse to the hostname and login
      %p
        Username:
        %code root
        %br
        Password:
        %code 5iveL!fe
  .tab-step
    %p
      %i.fa.fa-info-circle.green
      For configuration and troubleshooting options please see the
      %a.green{:href => "http://doc.gitlab.com/omnibus/"}
      Omnibus GitLab documentation
  .tab-step
    %p
      Tweet about it!
    %a.twitter-share-button{:href => "https://twitter.com/share", :data => {:url => "https://about.gitlab.com", :text => "I just installed GitLab: open source software to collaborate on code. Check it out!", :via => "gitlab", :size => "large"}}
      Tweet about it!
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
