%li.col-md-6
  .compare-item
    = icon "release", "compare-item-icon", {width: 76, height: 76, label: feature.title}
    %h3.compare-item-title= feature.title
    %h4.compare-item-subtitle= feature.subtitle
