- if post.data.image_title
  .image-title.blog-image{style: "background-image: url(#{post.data.image_title});"}
    .color-bg
      %h1
        = post.data.title
- else
  .image-title.image-title-small
    .color-bg
      %h1
        = post.data.title
