- url = full_url(current_page)
.share-butons.clearfix
  %a.share-btn.share-btn-facebook{ href: "http://www.facebook.com/sharer.php?u=#{url}",
    target: "_blank",
    onclick: "openSocialLink(this, 500, 400); return false;" }
    %i.fa.fa-facebook
    %span.sr-only
      Share on Facebook
  %a.share-btn.share-btn-twitter{ href: "http://twitter.com/share?url=#{url}&text=#{current_page.data.title}",
    target: "_blank",
    onclick: "openSocialLink(this, 500, 400); return false;" }
    %i.fa.fa-twitter
    %span.sr-only
      Share on Twitter
  %a.share-btn.share-btn-google{ href: "https://plusone.google.com/_/+1/confirm?hl=en&url=#{url}",
    target: "_blank",
    onclick: "openSocialLink(this, 500, 400); return false;" }
    %i.fa.fa-google-plus
    %span.sr-only
      Share on Google+
