#footer.footer
  = partial "includes/logos/footer_logo.svg"
  .animated.container
    %ul.text-center.footer-social
      %li
        %a{:href => "https://twitter.com/gitlab"}
          %i.fa.fa-twitter
          %span.sr-only Twitter
      %li
        %a{:href => "https://plus.google.com/107491817347842790515/posts"}
          %i.fa.fa-google-plus
          %span.sr-only Google+
      %li
        %a{:href => "https://www.facebook.com/gitlab"}
          %i.fa.fa-facebook
          %span.sr-only Facebook
      %li
        %a{:href => "https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg"}
          %i.fa.fa-youtube
          %span.sr-only YouTube
      %li
        %a{:href => "https://www.linkedin.com/company/gitlab-com"}
          %i.fa.fa-linkedin
          %span.sr-only LinkedIn
    .row
      .col-sm-6.col-md-3.col-lg-2.col-lg-offset-2.footer-link-holder
        %h3.footer-link-title Products
        %ul.animated.footer-links
          %li
            %a{:href => "/features/"} Community Edition
          %li
            %a{:href => "/features/#enterprise"} Enterprise Edition
          %li
            %a{:href => "/gitlab-ci/"} Continuous Integration
          %li
            %a{:href => "/gitlab-com/"} GitLab.com
      .col-sm-6.col-md-3.col-lg-2.footer-link-holder
        %h3.footer-link-title Services
        %ul.animated.footer-links
          %li
            %a{:href => "/pricing/"} Pricing
          %li
            %a{:href => "/consultancy/"} Consultancy
          %li
            %a{:href => "/development/"} Development
          %li
            %a{:href => "/training/"} Training
      .col-sm-6.col-md-3.col-lg-2.footer-link-holder
        %h3.footer-link-title Community
        %ul.animated.footer-links
          %li
            %a{:href => "/core-team/"} Core Team
          %li
            %a{:href => "http://contributors.gitlab.com/"} Contributors
          %li
            %a{:href => "/documentation/"} Documentation
          %li
            %a{:href => "/getting-help/"} Getting Help
          %li
            %a{:href => "/contributing/"} Contributing
          %li
            %a{:href => "/applications/"} Applications
          %li
            %a{:href => "/mvp/"} Hall of Fame
      .col-sm-6.col-md-3.col-lg-2.footer-link-holder
        %h3.footer-link-title Company
        %ul.animated.footer-links
          %li
            %a{:href => "/blog/"} Blog
          %li
            %a{:href => "/press/"} Press and Logos
          %li
            %a{:href => "/about/"} About Us
          %li
            %a{:href => "/team/"} Team
          %li
            %a{:href => "/jobs/"} Jobs
          %li
            %a{:href => "/terms/"} Terms
          %li
            %a{:href => "/contact/"} Contact Us
.animated.text-center.source-link
  This page is generated from
  %a.external-source-link{:href => "https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/source/#{current_page.path}"}
    a public file on GitLab.com
  \– merge requests with improvements are
  %a.external-source-link{:href => "https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING.md"}
    very welcome
  = partial "includes/cc-license.html"
  = partial "includes/layout/scripts"
