%header
  %nav.navbar.navbar-fixed-top.navbar-default{role: "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{type: "button", data: {target: "#main-gl-nav", toggle: "collapse"}}
          %span.sr-only
            Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %button.search-icon.search-icon-mobile.js-search-toggle.visible-xs-block.visible-sm-block.pull-right{ type: "button", "aria-label" => "Search" }
          %i.fa.fa-search
        %a.navbar-brand.animated{href: "/"}
          = partial "includes/logos/wm_web.svg"
      = partial "includes/layout/search"
      .collapse.navbar-collapse#main-gl-nav
        = partial "includes/layout/nav"
