.search-box.js-search-box
  %i.fa.fa-search.search-box-icon
  %input.search-input.js-search{ type: "text", placeholder: "Search..." }
  %button.search-close.js-search-toggle{ type: "button", "aria-label" => "Close search" }
    %i.fa.fa-times
