---
layout: default
title: Blog archives
---

.blog-index.blog-entry
  %ul.post-list
    - blog.articles.each do |post|
      %li.post-list-item
        = link_to post.url do
          = post.title
        - if post.date
          %time
            = post.date.to_time.strftime '%b %e, %Y'
