---
title: Blog
comments: false
suppress_header: true
---

.blog-index.blog-entry
  = partial "includes/newsletter-signup.html"
  - blog.articles[0...3].each do |article|
    %article.blog-article
      = partial "includes/blog/snippet", locals: {post: article}
  %h2
    10 most recent posts
  %ul.post-list
    - blog.articles[0..10].each do |post|
      %li.post-list-item
        %a{href: post.url}
          = post.title
        - if post.date
          %time
            = post.date.to_time.strftime '%b %e, %Y'
  %p
    \→
    %a{href: "/blog/archives.html"} Browse the archives
