<div class="other-downloads">
  <h3>Omnibus Packages</h3>
  <h5><a class="green" href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md">Troubleshooting and configuration options</a></h5>
  <h5><a href="https://packages.gitlab.com/gitlab/gitlab-ee">Download the package</a></h5>
  <h5><a href="/update/#ee">Update GitLab instance</a></h5>
  <h5><a href="/installation/">Alternative installation methods</a></h5>
  <h5><a href="http://doc.gitlab.com/ee/install/requirements.html">Installation requirements</a></h5>
</div>
