<div class="other-downloads">
  <h5><a href="http://doc.gitlab.com/omnibus/">Troubleshooting and configuration options in the Omnibus documentation</a></h5>
  <h5><a href="/installation/">Alternative installation methods</a></h5>
  <h5><a href="/aws">AWS AMI with a preloaded Omnibus package</a></h5>
  <h5><a href="https://mirror.tuna.tsinghua.edu.cn/help/gitlab-ce/">Chinese GitLab CE mirror hosted by TUNA</a></h5>
  <h5><a href="https://packages.gitlab.com/gitlab/gitlab-ce">Browse the packages</a></h5>
  <h5><a href="/update">Update a GitLab instance</a></h5>
  <h5><a href="http://doc.gitlab.com/ce/install/requirements.html">Installation requirements</a></h5>
  <h5><a href="https://about.gitlab.com/features/#compare">Compare GitLab CE with EE</a></h5>
</div>
