<p>
The following terms govern the services provided by GitLab B.V. to clients with a subscription.
Please read this document carefully before purchasing an subscription.
By purchasing a subscription you agree to be bound by the terms of this document.
</p>

<ol>
  <li> <strong>Services</strong>

  <p>
  The services to be provided shall consist of assistance provided by GitLab B.V. to the client.
  </p>

  <p>
  Assistance can be provided via email, telephone, ssh, teleconferencing, chat or onsite at the discretion of GitLab B.V..
  Resolution will be a priority based on best effort.
  </p>

  <p>
  Availability incidents are defined as incidents that affect security, data integrity or prevent core functions from working for the majority of users with no workaround.
  GitLab B.V. can respond to availability incidents by providing remote assistance over ssh or via teleconferencing at the descretion of the client.
  </p>
  </li>

  <li> <strong>Subscription fee</strong>
  <p>
  The subscription fee will be specified on your invoice.
  The subscription will renew automatically.
  GitLab B.V. reserves the right to adjust the rate at renewal time.
  If the client is not satisfied with the subscription and informs GitLab B.V. within the first 45 days of the subscription a full refund will be made.
  </p>

  <li> <strong>Basic subscription</strong>
  <p>
  The basic subscription allows the client to use GitLab Enterprise Edition for as many users as the subscription is.
  A user is defined as an individual authorized by you to use an on-premises GitLab server.
  This means that a person that has access to two or on-premises servers counts as a single user.
  Robots, bots and other automated accounts not linked to a person do not count towards the user count.
  Guests, reporters, managers and people that have no access to the source code do count towards the user count.
  GitLab B.V. aims to respond to support questions regarding Community Edition and/or Enterprise Edition during the next business day at the latest.
  The number of support questions is not limited.
  </p>

  <li> <strong>Standard subscription</strong>
  <p>
  The standard subscription entitles the clients to everything the basic subscription offers and the following services.
  GitLab B.V. aims to respond to emergency support questions communicated via the appropriate channel within 30 minutes, 24 hours per day, 365 days per year.
  The number of emergency support questions is not limited.
  GitLab B.V. will help the client to install and configure GitLab and provide remove assistance during upgrades.
  Support for GitLab Continuous Integration (CI) and High Availability (HA) configurations is included.
  </p>

  <li> <strong>Additional consulting services</strong>
  <p>
  At the request of a client and with its written consent GitLab B.V. may also provide consulting in excess of the amount included in the subscription fee at GitLab B.V.'s standard rate, then in effect.
  </p>
  </li>

  <li> <strong>Termination</strong>
  <p>
  The termination of the subscription can happen with a written notice at any time by both the client and GitLab B.V..
  If a termination happens in the first 45 days of the subscription there is no charge and any paid fees will be refunded to the client.
  Should the client fail to pay all or any part of the fees on the due date GitLab B.V. may terminate the subscription.
  When the client terminates the subscription they will forfeit the subscription fee.
  When GitLab B.V. terminates the subscription after the first 45 days the client will receive a prorated refund.
  </p>
  </li>

  <li> <strong>Disclaimer of warranty</strong>
  <p>
  GitLab B.V. makes no warranty, express or implied, with regard to the services provided, all such warranties are hereby excluded by GitLab B.V. and waived by the client.
  In no event will GitLab B.V. be liable to the client or any other individual or entity connected with the client for any claim, loss of revenue profits, sales, business, data, code, service, information exclusivity or damage of any kind of nature, arising out of or in connection with the subscription.
  In any event, GitLab B.V.'s maximum liability to the client shall be limited to the amounts actually paid to GitLab B.V. during the previous twelve (12) month subscription term.
  </p>
  </li>

  <li> <strong>Confidentiality</strong>
  <p>
  GitLab B.V. acknowledges that in the course of providing the services, and of other services provided, GitLab B.V. or its employees or consultants, may be supplied with or come into possession of information which is proprietary to the client.
  Including information as to code, licenses, methods of doing business, and operations.
  GitLab B.V. hereby agrees that it will keep all such information confidential, and will disclose such information to no other person or entity.
  In addition, GitLab B.V. agrees to take such action as may be necessary or appropriate by way of agreement with, and instruction to, its employees so as to maintain the confidentiality of such confidential information and licenses.
  </p>
  </li>

  <li> <strong>Partial invalidity</strong>
  <p>
  If any provision of this document is held by a court of competent jurisdiction to be invalid, void, or unenforceable, the remaining provisions shall nevertheless continue in full force without being impaired or invalidated in any way.
  </p>
  </li>

  <li> <strong>Failure to enforce</strong>
  <p>
  The failure of either party to enforce at any time, or for any period of time, the provisions hereof shall not be construed to be a waiver of such provisions or of the right of such party to enforce each and every such provision.
  </p>
  </li>

  <li> <strong>Arbitration</strong>
  <p>
  All disputes arising out of or in connection with the present contract shall be finally settled under the Rules of Arbitration of the International Chamber of Commerce by one or more arbitrators appointed in accordance with the said Rules.
  </p>
  </li>

  <li> <strong>Forum selection</strong>
  <p>
  This contract is governed by the laws of the Netherlands and any dispute shall be finally resolved by the Dutch courts.”
  </p>
  </li>
</ol>
<p>
  <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons Sharealike</a> license
</p>
