---
layout: default
title: GitHost.io
suppress_header: true
extra_css:
  - subscription.css
---

<div class="wrapper">
  <div class="pricing-container">
    <div class="pricing-overlay">
      <div class="pricing-content">
        <h1>GitHost.io - Privately hosted GitLab CE & EE</h1>
      </div>
    </div>
  </div>

  <div class="subs-header">
    GitHost is a single-tenant solution that provides GitLab CE or EE as a managed service. <br />
    GitLab Inc. is responsible for installing, updating, hosting, and backing up customers own private and secure GitLab instance. <br />
    For more information please see the <a href="/githost-faq">Frequently asked questions</a> about GitHost or our pricing plans below.
  </div>

  <div class="subscriptions" id="subs">
    <div class="row">
      <div class="col-md-4">
        <div class="basic subscription">
          <div class="header">
            Developer Plus
            <div class="sub-header">
            </div>
          </div>
          <div class="price">
            <div class="money">$</div>35
            <div class="subprice">
              per month.
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                40GB SSD
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                2GB RAM / 2 CPU
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Recommended for team sizes up to 30
              </div>
            </div>

          </div>
          <a href="https://githost.io" class="basic button">Sign up</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="standard subscription">
          <div class="header">
            Startup
            <div class="sub-header">
            </div>
          </div>
          <div class="price">
            <div class="money">$</div>80
            <div class="subprice">
              per month.
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                60GB SSD
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                4GB RAM / 4 CPUs
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Recommended for team sizes up to 100
              </div>
            </div>

          </div>
          <a href="https://githost.io" class="basic button">Sign up</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="plus subscription">
          <div class="header">
            Business
            <div class="sub-header">
            </div>
          </div>
          <div class="price">
            <div class="money">$</div>200
            <div class="subprice">
              per month.
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                80GB SSD
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                8GB RAM / 4 CPUs
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Recommended for team sizes up to 500
              </div>
            </div>
          </div>
          <a href="https://githost.io" class="basic button">Sign up</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="standard subscription">
          <div class="header">
            Business Pro
            <div class="sub-header">
            </div>
          </div>
          <div class="price">
            <div class="money">$</div>400
            <div class="subprice">
              per month.
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                160GB SSD
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                16GB RAM / 8 CPUs
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Recommended for team sizes up to 1000
              </div>
            </div>

          </div>
          <a href="https://githost.io" class="basic button">Sign up</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="plus subscription">
          <div class="header">
            Corporate
            <div class="sub-header">
            </div>
          </div>
          <div class="price">
            <div class="money">$</div>800
            <div class="subprice">
              per month.
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                320GB SSD
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                32GB RAM / 12 CPUs
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Recommended for team sizes up to 5000
              </div>
            </div>
          </div>
          <a href="https://githost.io" class="basic button">Sign up</a>
        </div>
      </div>
    </div>
    <p> &nbsp; </p>
  </div>
</div>

