---
layout: default
title: Pricing
suppress_header: true
extra_css:
  - pricing.css
extra_js:
  - subscription.js
---

.page-container.pricing-container.text-center
  .container
    %h1.page-headline
      Simple pricing for teams of all sizes
    %h4.subheader
      Includes a 45 day money-back guarantee
    .row.animated

      .col-md-4
        .featured-item
          .edition-name
            GitLab.com
          .featured-item-body
            %h2
              Free
            %h4
              unlimited repositories
            = icon "ce", "featured-item-icon", {width: 76, height: 76, label: "GitLab CE"}
            .item-description
              Hosted on GitLab's servers
            .line-separator
            .item-description
              Unlimited private collaborators
            .line-separator
            .item-description
              %a.action-link Learn more...
            %a.featured-item-button{href: "https://gitlab.com/users/sign_in", onclick: "ga('send', 'event', 'link','click','gitlab.com signup');"}
              Sign Up

      .col-md-4
        .featured-item
          .edition-name
            Community Edition
          .featured-item-body
            %h2
              Free
            %h4
              unlimited users
            = icon "ce", "featured-item-icon", {width: 76, height: 76, label: "GitLab CE"}
            .item-description
              On-premises on your server
            .line-separator
            .item-description
              Open source & scalable
            .line-separator
            .item-description
              %a.action-link Learn more...
            %a.featured-item-button{href: "https://gitlab.com/users/sign_in", onclick: "ga('send', 'event', 'link','click','gitlab.com signup');"}
              Download Now

      .col-md-4
        .featured-item
          .edition-name
            Enterprise Edition
          .featured-item-body
            %h2
              $39/yr
            %h4
              per user (no minimum)
            = icon "ce", "featured-item-icon", {width: 76, height: 76, label: "GitLab CE"}
            .item-description
              On-premises on your server
            .line-separator
            .item-description
              Next business day support
            .line-separator
            .item-description
              %a.action-link Learn more...
            %a.featured-item-button{href: "https://gitlab.com/users/sign_in", onclick: "ga('send', 'event', 'link','click','gitlab.com signup');"}
              Buy Now
  .subscriptions
    .row
      .col-sm-12
        %h2
          Options for the Enterprise Edition
          %a{name: "options"}
    .row.pricing-row{ data: { equal: ".col-sm-4" } }
      .col-sm-4.col-sm-offset-2
        .plus.subscription
          .header
            GitLab Geo
          .price
            .money> $
            99
            .subprice
              yearly per user
              %br/
              no minimum users
          .details
            .detail
              %span.fa.fa-chevron-right
              .body
                Learn more about
                %a{href: "http://doc.gitlab.com/ee/gitlab-geo/README.html"} GitLab Geo
          %a.basic.button.subscription-btn{href: "https://customers.gitlab.com"}
            Buy now
      .col-sm-4
        .plus.subscription
          .header
            Premium Support
          .price
            .money> $
            99
            .subprice
              yearly per user
              %br/
              minimum of 100 users
          .details
            .detail
              %span.fa.fa-chevron-right
              .body
                24x7 emergency support
            .detail
              %span.fa.fa-chevron-right
              .body
                Two training workshops
            .detail
              %span.fa.fa-chevron-right
              .body
                Dedicated service engineer
            .detail
              %span.fa.fa-chevron-right
              .body
                Live upgrade assistance
            .detail
              %span.fa.fa-chevron-right
              .body
                Support for
                %a{href: "/high-availability/"} High Availability
          %a.basic.button.subscription-btn{href: "https://customers.gitlab.com"}
            Buy now
    .row
      .col-sm-4.col-sm-offset-2
        .plus.subscription
          .header
            Pivotal Tile
          .price
            .money> $
            99
            .subprice
              yearly per user
              %br/
              no minimum users
          .details
            .detail
              %span.fa.fa-chevron-right
              .body
                Learn more about
                %a{href: "https://about.gitlab.com/2015/11/03/pivotal-cloud-foundry-tile-for-gitlab-ee/"} Pivotal.
          %a.basic.button.subscription-btn{href: "https://customers.gitlab.com"}
            Buy now
      .col-sm-4
        .plus.subscription
          .header
            File Lock
          .price
            .money> $
            99
            .subprice
              yearly per user
              %br/
              no minimum users
          .details
            .detail
              %span.fa.fa-chevron-right
              .body
                Learn more about
                %a{href: "http://docs.gitlab.com/ee/user/project/file_lock.html"} File Lock.
          %a.basic.button.subscription-btn{href: "https://customers.gitlab.com"}
            Buy now
  .subs-header
    .title Includes a 45 day money-back guarantee
  .pricing-notes
    %p
      %a{href: "/features/#compare"} Compare
      the features of GitLab Community Edition and Enterprise Edition
    %p
      Compare GitLab to the
      %a{href: "/comparison"} competition
    %p
      We can host a private GitLab instance for you with
      %a{href: "https://githost.io/"} GitHost
    %p
      %a{href: "https://about.gitlab.com/sales/", :onclick => "ga('send', 'event', 'link', 'click', 'contact sales');"} Please contact us
      if you have any questions.
    %p
      %a{href: "https://about.gitlab.com/high-availability/"} Learn more
      about high availability
    %p
      %a{href: "/license-faq"} Frequently asked questions
      about subscriptions and licensing
  %hr.divider/
  .container
    #services.row.other-services
      .subs-header
        .title
          Services
        .subtitle
          Want us to help you with something else?
      .col-sm-4
        .box
          %a{href: "/consultancy"}
            %img#consultancy.gs{src: "/images/icons/cons_icon.png"}/
            %h2 Consultancy
            %p Upgrade or install GitLab.
          %a.btn.btn-md.btn-default{href: "/consultancy/"} Contact us
      .col-sm-4
        .box
          %a{href: "/development"}
            %img#development.gs{src: "/images/icons/dev_icon.png"}/
            %h2 Development
            %p Add a new feature to GitLab.
          %a.btn.btn-md.btn-default{href: "/development/"} Contact us
      .col-sm-4
        .box
          %a{href: "/training"}
            %img#training.gs{src: "/images/icons/tra_icon.png"}/
            %h2 Training
            %p Git training workshop.
          %a.btn.btn-md.btn-default{href: "/training/"} Contact us
  %hr.divider/
  .other-services
