---
layout: default
---
- content_for :title do
  = categories.to_s.capitalize
.blog-index.blog-entry
  %ul.post-list
    - page_articles.each do |post|
      %li.post-list-item
        = link_to post.url do
          = post.title
        - if post.date
          %time
            = post.date.to_time.strftime '%b %e, %Y'
