---
title: Code, test, and deploy together with GitLab open source git repo management software
extra_css:
  - landing.css
extra_js:
  - libs/slick.min.js
  - home.js
---
.gitlab-promo-banner.animated
  %a{href: data.promo.link}= data.promo.text
.landing-container.text-center
  #js-landing-community.landing-community
  .container
    %h1.landing-headline Code, test, and deploy together
    .landing-hero
      %img{:src => "/images/home/gitlab-illustration.svg"}
    .row.animated
      .col-md-4
        .featured-item
          %i.fa.fa-download.featured-item-icon
          %h2.featured-item-headline
            GitLab CE
          %h3.featured-item-headline-small
            Community Edition
          %p.featured-item-description
            Host it on your own server? Download and install the open source GitLab CE in 2 minutes.
          %a.featured-item-button{:href => "/downloads/"}
            Download
      .col-md-4
        .featured-item
          %i.fa.fa-plus.featured-item-icon
          %h2.featured-item-headline
            GitLab EE
          %h3.featured-item-headline-small
            Enterprise Edition
          %p.featured-item-description
            Need enterprise features and support? See our pricing to run GitLab EE on your server.
          %a.featured-item-button{:href => "/pricing/"}
            Pricing
      .col-md-4
        .featured-item
          %i.fa.fa-cloud.featured-item-icon
          %h2.featured-item-headline
            GitLab.com
          %h3.featured-item-headline-small
            On Our Server
          %p.featured-item-description
            Free hosting for private repos? Sign up to get unlimited repos and collaborators.
          %a.featured-item-button{:href => "https://gitlab.com/users/sign_in"}
            Sign Up
.what-is.animated
  .container
    .row
      .col-sm-6.col-md-4.what-is-item-holder
        .what-is-item
          %i.fa.fa-rocket.what-is-item-icon
          %h3.what-is-item-title
            Feature-Packed
          .what-is-item-content
            %p
              %b> Batteries included
              \: GitLab includes git repository management, code reviews, issue tracking, wikis and
              %a{:href => "/features/"} much more
            %p
              %b> Do it together
              \: Discuss issues and plan milestones. Do code reviews and make line comments. Mention your colleagues anywhere. View activity streams of projects or people.
            %p
              %b> Plays well with others
              \: GitLab has integrations for tons of tools such as Slack, Hipchat, LDAP, JIRA, Jenkins, many types of hooks and a complete API.
      .col-sm-6.col-md-4.what-is-item-holder
        .what-is-item
          %i.fa.fa-gears.what-is-item-icon
          %h3.what-is-item-title
            Self-hosted, scalable and updated monthly
          .what-is-item-content
            %p
              %b> On Your Servers
              \: Run it on your own infrastructure. Own everything. Or use our free SaaS
              %a{:href => "/gitlab-com/"} GitLab.com
            %p
              %b> Scales Effortlessly
              \: It runs smoothly on a tiny server but can scale to multiple active servers. A single server handles more than 25,000 users.
            %p
              %b> Updated Monthly
              \: Every month on the 22nd a big upgrade is released and it'll only take you 2 minutes to update.
      .col-sm-12.col-md-4.what-is-item-holder
        .what-is-item
          %i.fa.fa-globe.what-is-item-icon
          %h3.what-is-item-title
            Community-loved, enterprise ready
          .what-is-item-content
            %p
              %b GitLab Community Edition
              is completely free to
              %a{:href => "/downloads/"} download
              and it is
              %a{:href => "https://gitlab.com/gitlab-org/gitlab-ce/tree/master#README"} open source
            %p
              %b GitLab Enterprise Edition
              comes with a subscription and offers deeper LDAP / AD integration, Jira and Jenkins integration and
              %a{:href => "/features/#compare"} much more
            %p
              %b Subscriptions
              allow you to use the Enterprise Edition and includes 24/7 emergency support. More information can be found on our
              %a{:href => "/pricing/"} pricing page
.organizations.text-center
  .container
    %h2.organizations-title
      GitLab is used by more than 100,000 organizations
    .row
      - data.organizations.each do |organization|
        .col-xs-4.col-sm-4.col-md-3.col-lg-2.organizations-logo
          %img{:alt => organization.name, :src => organization.logo}
    %small.organizations-disclaimer
      All logos and trademarks are the property of their respective owners.
.testimonials
  #js-testimonials-slider.container
    - data.testimonials.each do |testimonial|
      .testimonials-item.text-center
        %a.testimonials-item-link{:href => testimonial.link}
          %img.testimonials-item-image{:alt => "", :src => testimonial.logo}
        .row
          %blockquote.col-md-8.col-md-push-2.testimonials-item-content
            = testimonial.quote
