---
layout: default
title: File Locking
suppress_header: true
extra_css:
  - gitlab-ci.css
  - gitlab-ee.css
---
.wrapper.gitlab-ee-page
  .image-title
    .color-bg
      %div
        %h1 File Locking
        %h3#ci-subt Better version control for text and binary files.
  .sub-wrapper
    .container
      .row.advantages
        .col-xs-1.col-md-1
        .col-xs-10.col-md-10
          %h2 What are the advantages?
          %ul
            %li
              File Locking helps you avoid merge conflicts and better manage your binary files.
              Lock any file or directory, make your changes, and then unlock it so someone else on the team can edit it.
        .col-xs-1.col-md-1
      %hr.divider/
      .row
        .col-xs-1.col-md-1
        .col-md-5.hidden-xs.hidden-sm

        .col-xs-10.col-md-5
          %h2 How it works
          %ul
            %li
              File Locking is available to GitLab Enterprise Edition customers.
            %li
              Anyone who has push access to a repository can lock a file or directory.
            %li
              Once a file is locked, anyone else trying to push changes to it will receive a pre-receive hook
              or a notification in the UI that will reject the changes.
            %li
              Teams can view and manage locks directly from the web interface of each of their projects.
        .col-xs-1.col-md-1
      %hr.divider/
      .row
        .col-xs-1.col-md-1
        .col-xs-10.col-md-6
          %h2 Features
          %ul
            %li
              %b Pre-receive hooks:
              Pre-receive hooks block everyone except the author of the file lock from pushing changes to that file.
            %li
              %b Permission-based:
              File locking leverages your project permissions to determine who can lock and unlock files.
            %li
              %b Merge conflict resolution:
              If you choose not to lock and end up with a merge conflict you can easily resolve the conflict from
              the UI. Preview both versions and select choose which one you want to maintain.

        .hidden-xs.hidden-sm.col-md-4
          %img.gitlab-raccoon-dog-image.hidden-xs{alt: "", src: "/images/logo.png"}/
        .col-xs-1.col-md-1
      %hr.divider/
      .row
        .col-md-5.hidden-xs.hidden-sm
        .col-xs-10.col-md-5
          %h2 Benefits
          %ul
            %li
              %b Visibility:
              Locked files help your team understand who is working on that file. In the UI you’ll see who locked the file
              and when it was locked.
            %li
              %b Collaboration:
              Reduce the number of merge conflicts caused by two or more developers working on a file at the same time.
            %li
              %b Streamline:
              With Git LFS support and file locking your team can effectively store and manage their media assets, such
              as images, PSDs, 3D models, etc. within the repository.
        .hidden-xs.hidden-sm.col-md-6

= partial "includes/features/try-gitlab-ee"
