---
layout: markdown_page
title: "GitLab Culture"
---

## Other pages related to Culture

- [GitLab 101](https://about.gitlab.com/culture/gitlab-101/)
- [GitLab Summits](https://about.gitlab.com/culture/summits)
- [Internal Feedback](https://about.gitlab.com/culture/internal-feedback)

## Introduction

Please see our [primer](https://about.gitlab.com/primer/) for more general information about GitLab.

![The GitLab team in May 2016](/images/team/resize1200-team-austin.jpeg){: .illustration}*<small>Back in May 2016, the whole team was a total of 85 GitLabbers</small>*

## Advantages

<%= partial "includes/reasons_to_work_for_gitlab" %>


## Historical Anecdotes

### _October 8th, 2011_

Dmitriy started GitLab when he pushed the [initial commit](https://gitlab.com/gitlab-org/gitlab-ce/commit/9ba1224867665844b117fa037e1465bb706b3685).

### _August 24th, 2012_

Sid announced [GitLab on HN](https://news.ycombinator.com/item?id=4428278).

### _September 14th, 2012_

[First 10 people get access](https://about.gitlab.com/2012/09/14/first-10-people-got-access/)
to GitLab Cloud (now known as GitLab.com).

### _November 13th, 2012_

[GitLab CI is officially announced](https://about.gitlab.com/2012/11/13/continuous-integration-server-from-gitlab/).

### _July 22nd, 2013_

[GitLab Enterprise Edition is announced](https://about.gitlab.com/2013/07/22/announcing-gitlab-enterprise-edition/).

### _April 18th, 2014_

[GitLab Cloud renamed to GitLab.com](https://about.gitlab.com/2014/04/18/gitlab-cloud-becomes-gitlab-com/).

### _March 4th, 2015_

[GitLab in Y Combinator winter 2015 batch](https://about.gitlab.com/2015/03/04/gitlab-is-part-of-the-y-combinator-family/).

### _August 15th, 2015_

Series A Funding was signed.

### _October 10th, 2015_

Anniversary of our first ever summit in Amsterdam with 25 GitLabbers.

## Team Stories

What better way to convey a sense of who we are and how we work together, than by sharing the stories about it?

### The De Wet Show

[De Wet Blomerus](https://gitlab.com/dewetblomerus) is a Service Engineer and host of one of our [Team Call](https://about.gitlab.com/handbook/#team-call)’s favorite recurring segments, "The De Wet Show". It's been such a hit that we now open our Team Call every Monday with it! Some of his best episodes will be posted below.

<!-- HTML blocks below - applied to make the images and the video more harmonic than 1 single column with each on a different "row" -->

<br>

<div class="row">
  <div class="col-sm-8 col-xm-12">
    <figure class="video_container">
      <iframe src="https://drive.google.com/file/d/0B6m34D8cFdpMZndKTlBRU0tmczg/preview" frameborder="0" allowfullscreen="true"> </iframe>
    </figure>
  </div>
  <div class="col-sm-4 col-xm-12">
    <h4 id="the-story-of-gitlab">S01-E01: The Story of GitLab</h4>
    <p class="justify">The saying goes that if you can’t explain something to a child, you don’t understand it yourself. De Wet
    put it to the test when he told the story of GitLab to his kids.
    </p>
  </div>
</div>

<br>

### The Boat

<!-- HTML blocks below - applied to make the images and the video more harmonic than 1 single column with each on a different "row" -->

<br>

<div class="row">
  <div class="col-sm-8 col-xm-12"><img src="../images/team/boat.jpg" alt="The Boat"></div>
  <div class="col-md-4 col-xm-12">
    <p class="justify"><a href="https://about.gitlab.com/2016/01/06/our-y-combinator-experience/">Back then</a>, the whole team used to fit in one car. And the car was called "the Boat".</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-8 col-xm-12">
    <figure class="video_container">
      <iframe src="https://www.youtube.com/embed/4TnKmrpiSgQ" frameborder="0" allowfullscreen="true"> </iframe>
    </figure>
  </div>
  <div class="col-sm-4 col-xm-12">
    <p class="justify">We even took the Boat from San Francisco to Las Vegas to celebrate Job's bachelor party, but as you can see in this video, he thought we were going to visit a customer in Los Angeles!</p>
  </div>
</div>

<br>

### The cattle

<br>

<div class="row">
  <div class="col-md-4 col-xm-12"><img class="cattle" src="../images/cattle_stare.JPG" alt="Staring down cattle"></div>
  <div class="col-md-8 col-xm-12">
    <h4 class="media-heading">Staring down the cattle?</h4>
    <p class="justify-1">Our CFO, Paul, was on vacation on a cattle ranch,
    during a time of fundraising. Normally vacation is vacation of course, but
    in this case it was necessary to have some calls now and again which
    required strong internet. To get to strong internet, Paul had to cross
    fields with cattle in them, and stare them down. Over the course of many
    trips he learned that cattle are docile, mostly... but don't turn your back
    on them because they can't be outrun!</p>
  </div>
</div>

<!-- particular styles for the pictures and video at the beginning -->

<style>
.justify,.justify-1 { text-align: justify; }
.media-heading { margin-bottom: 5px; }

@media (max-width: 767px) {
.col-sm-8 h4,.justify { padding-top: 10px; }
}
@media (max-width: 991px) {
.col-md-8 h4,.justify-1 { padding-top: 10px; }
}
</style>
