---
layout: default
title: Time Tracking
suppress_header: true
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  = partial "includes/features/gitlab-ee-nav"
  .image-title
    .color-bg
      %div
        %h1 Time Tracking
        %h3#ci-subt Coming in GitLab 8.14: Track your time in the same tool you work in
  .sub-wrapper
    .container

      .row.advantages
        .col-xs-12.col-md-10.col-md-offset-1
          %h2 Overview
          %ul
            %li
              Development teams often estimate and record the amount of time it takes to
              complete specific tasks in their software projects. This process usually happens in an external tool.
            %li
              Time Tracking is built into GitLab so your team can easily estimate and
              record the time spent on issues and merge requests.
      %hr.divider/

      .row
        .col-md-4.col-md-offset-1.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("clock-icon")
        .col-xs-12.col-md-6
          %h2 How it works
          %ul
            %li
              Time Tracking is available to GitLab Enterprise Edition customers.
            %li
              Using slash commands in an issue or merge request you can type the
              %code /estimate
              command and enter an estimate of how much time you think it should take to complete the work.
            %li
              You can also type the
              %code /spent
              command to record the time you spent working on the problem.
              Every time you add a new spent command on an issue or merge request, GitLab adds it to the total time spent.
              This total is displayed in the sidebar.
      %hr.divider/

      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Features
          %ul
            %li
              %b Built-in time tracker:
              View and track estimates and time spent right within your issues and merge requests.
            %li
              %b Slash commands:
              Textual shortcuts for common actions on issues or merge requests.
            %li
              %b External users:
              For teams with contractors or other external contributors,
              you can add external users and control which projects they can see and access.
        .hidden-xs.hidden-sm.col-md-4
          %img.gitlab-raccoon-dog-image.hidden-xs{alt: "", src: "/images/logo.png"}/
      %hr.divider/

      .row
        .col-md-5.col-md-offset-1.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("checklist-icon")
        .col-xs-12.col-md-5
          %h2 Benefits
          %ul
            %li
              %b Time:
              Reduce the number of times you have to switch from one tool to another.
            %li
              %b Intuitive:
              Simply type a slash command on your issue or merge request to estimate or record your time.
            %li
              %b Collaborative:
              Maintain visibility across development teams and external contributors with
              one tool for code collaboration and time tracking.

  = partial "includes/features/gitlab-ee-trial"
